<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="content-listing">
                    <h1>{{'Term.TermsConditions' | translate}}</h1>
                    <h2 class="termsandconditions">
                        {{'Term.Rules' | translate}}
                    </h2>
                    <h3>{{'Term.GeneralPrinciple' | translate}}</h3>
                    <p class="termsandconditions">
                        {{'Term.GeneralPrincipleContent' | translate}}
                    </p>

                    <h3>{{'Term.GeneralRegulations' | translate}}</h3>
                    <p class="termsandconditions">
                    </p>
                    <ol>
                        <li>
                            <p>
                                {{'Term.GeneralRegulationsContent1' | translate}}
                            </p>
                        </li>
                        <li>
                            <p>
                                {{'Term.GeneralRegulationsContent2' | translate}}
                            </p>
                        </li>
                        <li>
                            <p>
                                {{'Term.GeneralRegulationsContent3' | translate}}
                            </p>
                        </li>
                        <li>
                            <p>
                                {{'Term.GeneralRegulationsContent4' | translate}}
                            </p>
                        </li>
                        <li>
                            <p>
                                {{'Term.GeneralRegulationsContent5' | translate}}
                            </p>
                        </li>
                        <li>
                            <p>
                                {{'Term.GeneralRegulationsContent6' | translate}}
                            </p>
                        </li>
                        <li>
                            <p>
                                {{'Term.GeneralRegulationsContent7' | translate}}
                            </p>
                        </li>
                    </ol>
                    <p></p>

                    <h3>{{'Term.TransactionProcess' | translate}}</h3>
                    <p class="termsandconditions">
                    </p>
                    <ol>
                        <li>{{'Term.TransactionProcessContent1' | translate}}
                            <p>
                                {{'Term.TransactionProcessContent2' | translate}}
                                <br> {{'Term.TransactionProcessContent3' | translate}}
                                <br> {{'Term.TransactionProcessContent4' | translate}}
                            </p>
                        </li>
                        <li>{{'Term.TransactionProcessContent5' | translate}}
                            <p>
                                {{'Term.TransactionProcessContent6' | translate}}
                            </p>
                        </li>
                        <li>{{'Term.TransactionProcessContent7' | translate}}
                            <p>
                                {{'Term.TransactionProcessContent8' | translate}}
                            </p>
                        </li>
                        <li>{{'Term.TransactionProcessContent9' | translate}}
                            <p>
                                {{'Term.TransactionProcessContent10' | translate}}
                            </p>
                            <p>
                                <strong>{{'Term.TransactionProcessContent11' | translate}}</strong>
                                <br> {{'Term.TransactionProcessContent12' | translate}}
                                <br> {{'Term.TransactionProcessContent13' | translate}}
                                <br> {{'Term.TransactionProcessContent14' | translate}}</p>
                            <p>{{'Term.TransactionProcessContent15' | translate}}&nbsp;</p>
                        </li>
                    </ol>
                    <p></p>

                    <h3>{{'Term.PaymentMethod' | translate}}</h3>
                    <p class="termsandconditions">
                    </p>
                    <ol>
                        <li>
                            <p>{{'Term.PaymentMethodContent1' | translate}}
                                <br>{{'Term.PaymentMethodContent2' | translate}}</p>
                        </li>
                        <li>
                            <p>{{'Term.PaymentMethodContent3' | translate}}
                                <br> {{'Term.PaymentMethodContent4' | translate}}</p>
                        </li>
                        <li>
                            <p>{{'Term.PaymentMethodContent5' | translate}}
                                <br> {{'Term.PaymentMethodContent6' | translate}}</p>
                            <p>{{'Term.PaymentMethodContent7' | translate}}</p>
                        </li>
                    </ol>
                    <p></p>

                    <h3>{{'Term.SecureTransactionAssurance' | translate}}</h3>
                    <p class="termsandconditions">
                    </p>
                    <ol>
                        <li>{{'Term.SecureTransactionAssuranceContent1' | translate}}
                            <ol type="a">
                                <li>{{'Term.SecureTransactionAssuranceContent2' | translate}}</li>
                                <li>{{'Term.SecureTransactionAssuranceContent3' | translate}}</li>
                            </ol>
                        </li>
                    </ol>
                    <p></p>

                    <h3>{{'Term.Protection' | translate}}</h3>
                    <p class="termsandconditions">
                    </p>
                    <ol>
                        <li>{{'Term.ProtectionContent1' | translate}}&nbsp;
                            <ol type="a">
                                <li>{{'Term.ProtectionContent2' | translate}}</li>
                                <li>{{'Term.ProtectionContent3' | translate}}</li>
                                <li>{{'Term.ProtectionContent4' | translate}}</li>
                                <li>{{'Term.ProtectionContent5' | translate}}&nbsp;</li>
                                <li>{{'Term.ProtectionContent6' | translate}}&nbsp;</li>
                            </ol>
                        </li>
                        <li>{{'Term.ProtectionContent7' | translate}}
                            <ol type="a">
                                <li>{{'Term.ProtectionContent8' | translate}}</li>
                                <li>{{'Term.ProtectionContent9' | translate}}&nbsp;</li>
                                <li>{{'Term.ProtectionContent10' | translate}}</li>
                                <li>{{'Term.ProtectionContent11' | translate}}</li>
                            </ol>
                        </li>
                    </ol>
                    <p></p>

                    <h3>{{'Term.Management' | translate}}</h3>
                    <p class="termsandconditions">
                    </p>
                    <ol>
                        <li>{{'Term.ManagementContent1' | translate}}</li>
                        <li>{{'Term.ManagementContent2' | translate}}</li>
                        <li>{{'Term.ManagementContent3' | translate}}</li>
                        <li>{{'Term.ManagementContent4' | translate}}</li>
                    </ol>
                    <p></p>

                    <h3>{{'Term.Responsibility' | translate}}</h3>
                    <p class="termsandconditions">
                    </p>
                    <ol>
                        <li>{{'Term.ResponsibilityContent1' | translate}}</li>
                        <li>{{'Term.ResponsibilityContent2' | translate}}</li>
                        <li>{{'Term.ResponsibilityContent3' | translate}}</li>
                        <li>{{'Term.ResponsibilityContent4' | translate}}</li>
                        <li>{{'Term.ResponsibilityContent5' | translate}}</li>
                    </ol>
                    <p></p>

                    <h3>{{'Term.RightObligation' | translate}}</h3>
                    <p class="termsandconditions">
                    </p>
                    <ol>
                        <li>{{'Term.RightObligationContent1' | translate}}
                            <ol type="a">
                                <li>{{'Term.RightObligationContent2' | translate}}</li>
                                <li>{{'Term.RightObligationContent3' | translate}}</li>
                                <li>{{'Term.RightObligationContent4' | translate}}</li>
                                <li>{{'Term.RightObligationContent5' | translate}}</li>
                                <li>{{'Term.RightObligationContent6' | translate}}</li>
                                <li>{{'Term.RightObligationContent7' | translate}}</li>
                                <li>{{'Term.RightObligationContent8' | translate}}</li>
                            </ol>
                        </li>
                        <li>{{'Term.RightObligationContent9' | translate}}
                            <ol type="a">
                                <li>{{'Term.RightObligationContent10' | translate}}</li>
                                <li>{{'Term.RightObligationContent11' | translate}}</li>
                                <li>{{'Term.RightObligationContent12' | translate}}</li>
                            </ol>
                        </li>
                    </ol>
                    <p></p>

                    <h3>{{'Term.RightResponsibility' | translate}}</h3>
                    <p class="termsandconditions">
                    </p>
                    <ol>
                        <li>{{'Term.RightResponsibilityContent1' | translate}}
                            <ol type="a">
                                <li>{{'Term.RightResponsibilityContent2' | translate}}</li>
                                <li>{{'Term.RightResponsibilityContent3' | translate}}</li>
                            </ol>
                        </li>
                        <li>{{'Term.RightResponsibilityContent4' | translate}}
                            <ol type="a">
                                <li>{{'Term.RightResponsibilityContent5' | translate}}</li>
                                <li>{{'Term.RightResponsibilityContent6' | translate}}</li>
                                <li>{{'Term.RightResponsibilityContent7' | translate}}</li>
                                <li>{{'Term.RightResponsibilityContent8' | translate}}</li>
                            </ol>
                        </li>
                    </ol>
                    <p></p>

                    <h3>{{'Term.AppliedProvisions' | translate}}</h3>
                    <p class="termsandconditions">
                        {{'Term.AppliedProvisionsContent' | translate}}
                    </p>

                    <h3>{{'Term.CommitmentProvision' | translate}}</h3>
                    <p class="termsandconditions">
                    </p>
                    <ol>
                        <li>{{'Term.CommitmentProvisionContent1' | translate}}</li>
                        <li>{{'Term.CommitmentProvisionContent2' | translate}}
                            <br>
                            <br> {{'Term.CommitmentProvisionContent3' | translate}}
                            <br> {{'Term.CommitmentProvisionContent4' | translate}}
                            <br> {{'Term.CommitmentProvisionContent5' | translate}}
                            <br> {{'Term.CommitmentProvisionContent6' | translate}}
                            <br>
                        </li>
                    </ol>
                    <p></p>

                </div>
            </div>
        </div>
    </div>
</div>