<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="content-listing">
                    <h1>Terms and Conditions</h1>
                    <h2 class="termsandconditions">
                        REGULATION ON OPERATION OF VIETNAMMM.COM E-COMMERCE TRADING FLOOR
                    </h2>
                    <h3>I. General principle</h3>
                    <p class="termsandconditions">
                        VIETNAMMM.COM E-commerce trading floor (referred to as “Vietnammm.com E-commerce trading floor”) which belongs to Viet Nam
                        MM Co., Ltd., is a website providing services of ordering food/beverage online for partner restaurants
                        with door-to-door delivery service of food/beverage. The website is built to support all members’
                        eating and drinking demand who are able to order food/drink most conviniently, quickly and reliably
                        in Vietnam.
                    </p>

                    <h3>II. General regulations</h3>
                    <p class="termsandconditions">
                    </p>
                    <ol>
                        <li>
                            <p>The members who participate in Vietnammm.com E-commerce trading floor (referred to as “Member”)
                                are individuals, organizations, having demand of ordering food/drink online. The members
                                must register to declare initial personal information in accordance with legal regulations
                                and be officially recognized by Management of Vietnammm.com, allowed to use services officially
                                recognized to complete registration procedures Vietnammm.com E-commerce Trading floor.
                            </p>
                        </li>
                        <li>
                            <p>Partner restaurants who take part in Vietnammm.com E-commerce trading floor (referred to as“Partner
                                restaurant”) are individuals, organizations with demand of advertising and selling food/drink
                                on Vietnammm.com E-commerce trading floor
                            </p>
                        </li>
                        <li>
                            <p>Dishes/drink dealt on Vietnammm.com E-commerce trading floor meet full conditions on food safety,
                                which don’t belong to cases being prohibited trading, advertising according to regulations
                                of current law by partner restaurants.</p>
                        </li>
                        <li>
                            <p>The Management of Vietnammm.com E-commerce trading floor who is employees of Viet Nam MM Co.,
                                Ltd ( referred to as “Viet Nam MM Co., Ltd”), is mainly responsible for managing operation
                                of Vietnammm.com E-commerce trading floor</p>
                        </li>
                        <li>
                            <p>Partner restaurants are completely responsible for all services and products supplied by themselves
                                to customers, which are already ordered through use of services provided by Vietnammm.com
                                E-commerce trading floor</p>
                        </li>
                        <li>
                            <p>When members and/or partner restaurants access Vietnammm.com E-commerce trading floor to buy
                                food/drink, defaulted that member and/or partner already agree to comply with and be bound
                                by the regegulation on operation of Vietnammm.com E-commerce trading floor.</p>
                        </li>
                        <li>
                            <p>All contents in this Regulation must comply with Vietnam’s current law system. Upon taking part
                                in Vietnammm.com E-commerce trading floor, members must learn about their legal responsibilities
                                for Vietnam’s current law by themselves and commit to perform right contents in the Regulation
                                of Vietnammm.com E-commerce trading floor</p>
                        </li>
                    </ol>
                    <p></p>

                    <h3>III. Transaction process</h3>
                    <p class="termsandconditions">
                    </p>
                    <ol>
                        <li>Steps for carrying out ordering dishes.
                            <p>
                                Step 1: Select your city and district at Vietnammm.com E-commerce trading floor and a restaurant.
                                <br> Step 2: Select food/drink which you want to order
                                <br> Step 3: Fill details on your delivery information in, after that kick “Completion of order”
                            </p>
                        </li>
                        <li>Delivery policy
                            <p>After a customer orders dishes of a partner restaurant listed in the list of Vietnammm.com E-commerce
                                trading floor, Viet Nam MM Co., Ltd will forward the purchase order to the partner restaurant.
                                The partner restaurant will deliver door-to-door within one hour except for special requests
                                for delivery from members. In case delivery time is longer than it is expected, the partner
                                restaurant and / or Vietnam MM Co. Ltd will try to contact the member immediately to notify.
                                Vietnam MM Co., Ltd is not responsible for delivery service or products sold on the website
                                Vietnammm.com</p>
                        </li>
                        <li>Policy on returning and cancelling purchase orders
                            <p>All dishes, sold on Vietnammm.com E-commerce trading floor can not be changed or returned after
                                the purchase order has already been completed. If the dishes are purchased without enough
                                quality, Vietnam MM Co., Ltd. will try to support as set out in the "Dispute Resolution".
                                Purchase orders, which are made at Vietnammm.com E-commerce trading floor, can not be canceled.</p>
                        </li>
                        <li>Procedure for sending claims
                            <p>If there is anything members feel dissatisfied with the services of Vietnammm.com E-commerce
                                trading floor, please email to info@vietnammm.com or send a letter to the address below.</p>
                            <p>
                                <strong>Viet Nam MM Co., Ltd </strong>
                                <br> 02nd Floor, 155 Hai Ba Trung
                                <br> Ward 6, District 3
                                <br> Ho Chi Minh city</p>
                            <p>Viet Nam MM Co., Ltd will try to resolve claims within 48 hours&nbsp;</p>
                        </li>
                    </ol>
                    <p></p>

                    <h3>IV. Payment Method</h3>
                    <p class="termsandconditions">
                    </p>
                    <ol>
                        <li>
                            <p>Cash
                                <br> Cash will be paid directly to the partner restaurant’s deliverer when home delivery is completed.</p>
                        </li>
                        <li>
                            <p>Credit card
                                <br> Vietnammm.com E-commerce trading floor on behalf of the partner restaurant accepts payment
                                by MasterCard, Visa and Visa Debit card. Card payment is processed by OnePAY Joint Stock
                                Company. Card payment must be born transaction fee. This fee will listed clearly when selecting
                                payment method on payment website of Vietnammm.com&nbsp;E-commerce trading floor</p>
                        </li>
                        <li>
                            <p>Domestic bank’s ATM card
                                <br> Vietnammm.com E-commerce trading floor on behalf of restaurants accepts payment by domestic
                                ATM card from the following banks:</p>
                            <p>Abbank, Bac A Bank, BIDV, DongA Bank, Eximbank, HDBank, Maritime Bank, MIB, Ngan Hang Nam A,
                                Ocean Bank, Sacombank, SeABank, SHB, Techcombank, Tien Phong Bank, VIB, Vietabank, Vietcombank
                                &amp; VPBank.</p>
                        </li>
                    </ol>
                    <p></p>

                    <h3>V. Safe transaction assurance</h3>
                    <p class="termsandconditions">
                    </p>
                    <ol>
                        <li>Vietnam MM Co.Ltd uses services to protect Members’ information and payment. To ensure that transactions
                            are carried out successfully, minimizing risks that may arise, ask participants of Vietnammm.com
                            E-commerce trading floor to note and obey commited contents with Members as follows:
                            <ol type="a">
                                <li>As soon as a member clicks " payment completion" his browsers will be changed to safe mode.
                                    The data related to the members’ orders, personal information and payment details will
                                    go through all servers of Vietnammm.com E-commerce trading floor with the encoding form.
                                    As soon as ordering successfully, the member should sign out his personal account on
                                    the website.</li>
                                <li>Members do not provide details on payment to anyone via email or other way of communication,
                                    we are not responsible for damages or risks. Members have responsibility for exchanging
                                    their information through Internet, email or other forms.
                                </li>
                            </ol>
                        </li>
                    </ol>
                    <p></p>

                    <h3>VI. Customer’s personal information protection</h3>
                    <p class="termsandconditions">
                    </p>
                    <ol>
                        <li>Purpose and scope of personal information collection Viet Nam MM Co. Ltd collects personal information
                            in order to:&nbsp;
                            <ol type="a">
                                <li>Forward purchase orders from members to partner restaurants where members order dishes </li>
                                <li>Verify member’s reliability.</li>
                                <li>Send information on discounts, promotion programs if members ask.</li>
                                <li>Provide payment gateways with necessary information to perform the transactions for members
                                    who choose the form of online payment.&nbsp;</li>
                                <li>We do not limit personal information: name, email, phone number (mobile / fixed), address
                                    (specified in districts, provinces), and other information.&nbsp;</li>
                            </ol>
                        </li>
                        <li>Field of use and time of storing information
                            <ol type="a">
                                <li>Viet Nam MM Co., Ltd will provide restaurants with necessary information for home delivery
                                    of purchase orders to customers. If customers select online payment form, Vietnam MM
                                    Co., Ltd will provide a payment gateway with necessary information to process payments.
                                    Vietnam MM Co., Ltd will not provide customer’s information to any third party. All transaction
                                    information will be kept confidential but in case law agencies requires, we will be obliged
                                    to provide the law agencies this information.</li>
                                <li>After a purchase order is placed successfully, only employees of Vietnam MM Co., Ltd and
                                    the customer himself can log in personal information.&nbsp;</li>
                                <li>The information will be stored on the system of Vietnammm.com E-commerce trading floor and
                                    operated at Vietnam MM Co., Ltd’s office with address as above.</li>
                                <li>Customers can change, look at or erase their information by signing in the part “Member”
                                    or email us through the address: info@vietnammm.com.</li>
                            </ol>
                        </li>
                    </ol>
                    <p></p>

                    <h3>VII. Management of bad information</h3>
                    <p class="termsandconditions">
                    </p>
                    <ol>
                        <li>Members and partner restaurants will be themselves responsible for confidentiality and storage of
                            all activities of using services under their registered name, password.</li>
                        <li>Members and partner restaurants are responsible for making a timely notice to Vietnammm.com E-commerce
                            trading floor when detecting unauthorized use, abuse, privacy violation, storage of the third
                            party’s registered name and password to take suitable measures to resolve.</li>
                        <li>Members and partner restaurants don’t use the services of Vietnammm.com E-commerce trading floor
                            for illegal, unreasonable fraudulent, threatening, illegal poll, destructive, virus creation
                            and distribution purposes, causing damages to Vietnammm.com E-commerce trading floor’s system,
                            configuration, transmission of information E-commerce trading floor</li>
                        <li>Members don’t use Vietnammm.com E-commerce trading floor’s services for the purposes of speculation
                            , cornering the market to create fake orders, including works serving for judgments on market
                            demand. In case of violation, the member must take responsibility for his behavior in front of
                            the law.</li>
                    </ol>
                    <p></p>

                    <h3>VIII. Responsibility in case of arising technical errors</h3>
                    <p class="termsandconditions">
                    </p>
                    <ol>
                        <li>When carrying out transactions on Vietnammm.com E-commerce trading floor,members are obliged to perform
                            in accordance with instruction process.</li>
                        <li>Vietnam MM Co., Ltd commits to providing the best quality services for the members participating
                            in transactions. In case of arising technical failures, software bugs or objective errors which
                            may result in that a member can not participate in transaction, the member notify Vietnam MM
                            Co., Ltd. Through the email address: info@vietnammm.com </li>
                        <li>We will correct errors in the earliest time to create condition for members to take part in Vietnammm.com
                            E-commerce trading floor</li>
                        <li>However, Vietnam MM Co., Ltd will not be responsible for solving in case member’s notice doesn’t
                            come to Vietnam MM Co., Ltd, arisen from technical error, transmission and software errors or
                            other errors not caused by Vietnam MM Co., Ltd.
                        </li>
                    </ol>
                    <p></p>

                    <h3>IX. Right and obligation of VIETNAMMM.COM SGD TMDT Management Board</h3>
                    <p class="termsandconditions">
                    </p>
                    <ol>
                        <li>Right of VIETNAMMM.COM E-commerce trading floor Management Board
                            <ol type="a">
                                <li>Vietnammm.com E-commerce trading floor will provide services for participants after completing
                                    procedures and compulsory conditions Vietnammm.com E-commerce trading floor have stated.</li>
                                <li>Viet Nam MM Co., Ltd has right to change the regulations of trading floor and use items,
                                    conditions at any time without prior notice.</li>
                                <li>In case of having a base to prove that the member provides Vietnammm.com E-commerce trading
                                    floor with inaccurate, incomplete information, or information violating the law or Vietnam’s
                                    fine custom, Vietnammm.com E-commerce trading floor has right to refuse , suspend or
                                    terminate his/her service use right.</li>
                                <li>Vietnammm.com E-commerce trading floor can terminate membership and a member’s service use
                                    right in case the member breaks the regulations of Vietnammm.com E-commerce trading flor,
                                    or has act of affecting business operation on Vietnammm.com E-commerce trading floor</li>
                                <li>In case of terminating membership and service use right, all member’s issued certificates,
                                    rights will be automatically invalid and terminated.</li>
                                <li>All rights on use of services and content on Vietnammm.com E-commerce trading floor are reserved
                                    by Vietnammm.com E-commerce trading floor according to legal provisions on protection
                                    of intellectual property in Vietnam. All logos, contents in different languages ​​are
                                    under the ownership of Vietnammm.com E-commerce trading floor. All acts of copying, use
                                    and illegal dissemination of the above ownerships are strictly prohibited.</li>
                                <li>Vietnammm.com E-commerce trading floor reserves the right to change service price tables
                                    and payment method during the time of providing services for members in accordance with
                                    Vietnammm.com E-commerce trading floor’s needs, conditions and ability </li>
                            </ol>
                        </li>
                        <li>Obligation and responsibility of VIETNAMMM.COM Trading floor Management Board
                            <ol type="a">
                                <li>Vietnam MM Co., Ltd forwards information of purchase orders placed at Vietnammm.com E-commerce
                                    trading floor to partner restaurants. In any case, VIETNAM CO. MM is not responsible
                                    for delivery or quality of food. VIETNAM MM CO. LTD’s responsibility is merely to transfer
                                    information of orders to restaurant partners.</li>
                                <li>VIET NAM MM CO., LTD will try to facilitate process of placing orders as soon as possible.
                                    However, VIET NAM MM CO., LTD will not bear any liability for failure condition or time
                                    of inactive website. Information posted on the website of vietnammm.com will be offered
                                    by member restaurants. </li>
                                <li>VIET NAM MM CO., LTD commits to post only exact information. However, posted information
                                    can also be changed or be inaccurate. The matters arising from giving inaccurate information
                                    belong to the concerned restaurant’s responsibility and VIET NAM MM CO., LTD will not
                                    bear any liability.</li>
                            </ol>
                        </li>
                    </ol>
                    <p></p>

                    <h3>X. Right and responsibility of participants of VIETNAMMM.COM trading floor</h3>
                    <p class="termsandconditions">
                    </p>
                    <ol>
                        <li>Right of Members of Vietnammm.com E-commerce trading floor
                            <ol type="a">
                                <li>a. Members will have right to sign in to use Vietnammm.com E-commerce trading floor to order
                                    food/drink without payment of any other fee for service apart from fee for food/drink,
                                    delivery fee or transaction fee if members pay only .</li>
                                <li>b. Members have right to send questions, suggestions or reflect Vietnammm.com E-commerce
                                    trading floor during operation as per the above claim process..</li>
                            </ol>
                        </li>
                        <li>Obligation of Vietnammm.com E-commerce trading floor’s members
                            <ol type="a">
                                <li>a. To provide full personal information: surname, name, email, phone number (mobile/fixed)
                                    , address (districts, provinces) and other information, and to be responsible for legality
                                    of the above information. </li>
                                <li>b. Members don’t absolutely use any programs tools or other forms to intervene in the system
                                    or alter data structures. It is strictly forbidden to distribute, disseminate or cheer
                                    up any activities aiming at intervention, trespassing or destruction of website system.</li>
                                <li>c. Members will themselves be responsible for privacy and storage of all service use activities
                                    under their registered name, password. Members are responsible for make timely notice
                                    to Vietnammm.com E-commerce trading floor on unauthorized use, abuse, violation of privacy,
                                    storage of their registered name, password in order that both parties cooperate to process.</li>
                                <li>d. Members commit not to use services of Vietnammm.com E-commerce trading floor for illegal
                                    purposes. In case of violating, members must bear responsibility for their act in front
                                    of current law.</li>
                            </ol>
                        </li>
                    </ol>
                    <p></p>

                    <h3>XI. Applied provisions</h3>
                    <p class="termsandconditions">
                        This regulation of Vetnammm.com E-Commerce Trading floor is officially effective from the date of signing the decision attached
                        with this regulation. VIET NAM MM COMPANY LIMITED has right to adjust, add provisions in this regulation
                        by notifying in public on Vietnammm.com E-commerce trading floor to members/partner restaurants and
                        perform notice procedures with E-Commerce and Information Technology Department – Ministry of Industry
                        and Trade .
                    </p>

                    <h3>XII. Commitment provision</h3>
                    <p class="termsandconditions">
                    </p>
                    <ol>
                        <li>VIET NAM MM COMPANY LIMITED commits to perform in accordance with stipulations in this regulation
                            during the process of providing E-commerce services with type of sevices of ordering food/drink
                            online on Vietnammm.com. E-commerce trading floor . And , VIET NAM MM COMPANY LIMITED commits
                            to perform full obligations and reports as stipulated by law.</li>
                        <li>Official contact address of Vietnammm.com E-commmerce Trading floor:
                            <br>
                            <br> Vietnammm.com E-commerce Trading floor
                            <br> Company/Organization : VIET NAM MM COMPANY LIMITED
                            <br> Address: 02nd Floor, 155 Hai Ba Trung, Ward 6, District 3, Ho Chi Minh
                            <br> Tel: 02873050779 Email: info@vietnammm.com
                            <br>
                        </li>
                    </ol>
                    <p></p>

                </div>
            </div>
        </div>
    </div>
</div>