<div class="footer">
    <div class="container test">
        <div class="row">
            <div class="col-sm-5">
                <div class="footer-box">
                    <h1>mimerol</h1>
                    <p>{{'Components.Footer.Intro' | translate}}</p>
                    <ul class="social">
                        <li>
                            <a href="https://www.facebook.com/Mimerol" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="footer-box">
                    <h5>{{'Commons.Links.Title' | translate}}</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a [routerLink]="['', 'contact-us']" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}"
                                (click)="onToggleNav(true)">{{'Commons.Links.ContactUs' | translate}}</a>
                        </li>
                        <li>
                            <a href="#">{{'Commons.Links.Returns' | translate}}</a>
                        </li>
                        <li>
                            <a href="#">{{'Commons.Links.SiteMap' | translate}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="footer-box">
                    <h5>{{'Commons.Links.Support' | translate}}</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#">{{'Commons.Links.Brands' | translate}}</a>
                        </li>
                        <li>
                            <a href="#">{{'Commons.Links.GiftVouchers' | translate}}</a>
                        </li>
                        <li>
                            <a href="#">{{'Commons.Links.Affiliates' | translate}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="footer-box">
                    <h5>{{'Commons.Links.Contact' | translate}}</h5>
                    <ul class="list-unstyled">
                        <li>
                            Km 18 carretera nueva a León, residencial ciudad el doral, casa A-08
                        </li>
                        <li>
                            <a href="#">info@mimerol.com</a>
                        </li>
                        <li>
                            +505 8778 1040
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="footer-line"></div>
            </div>
            <div class="col-sm-12">
                MIMEROL S.A. © 2018
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>