<div class="owner-main-content">
    <div class="container-fluid">
        <p class="development-inprogress">
            <i class="fa fa-spinner"></i> Development inprogress...</p>
        <div class="row">
            <div class="col-xs-12 header">
                <h4 class="title">Advertisement on Mimerol.com</h4>
                <h5 class="subtitle">
                    Link from your own website
                </h5>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-warning">
                    <div class="box-body">
                        <p>
                            If you have your own website, you can add the following link:
                            <a href="#">http://www.mimerol.com/</a> You can also copy the snippet below, which will look like this: order
                            online now. Customers who click on it will be sent directly to your own order page on Vietnammm.com.

                            <a href="http://www.mimerol.com/">order online now</a>
                            This way you can use your own website to receive more orders, and we take care of all the processing.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>