<div class="admin-main-content form-detail">
    <div class="row">
        <div class="col-xs-12">
            <div class="form-header">
                <h2 *ngIf="restaurantModel" class="title">
                    <span class="title-one" [innerHTML]="'Commons.Texts.Restaurant' | translate"></span>
                    <span>#{{restaurantModel.restaurantName}}</span>
                </h2>
            </div>

            <div *ngIf="!!message" class="form-message">
                <h2 class="message {{isError ? 'error' : ''}}">
                    {{message}}
                </h2>
                <a [routerLink]="['..']" routerLinkActive="active" class="landing">
                    <span class="btn btn-default btn-primary"
                        [innerHTML]="'Commons.Texts.BackToList' | translate"></span>
                </a>
            </div>

            <div class="form-content">
                <form (ngSubmit)="onUpdateRestaurant(f.valid)" #f="ngForm" enctype="multipart/form-data">
                    <div class="box box-primary">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="row form-group">
                                        <label class="col-md-4"
                                            [innerHTML]="'Commons.Texts.RestaurantNameRequired' | translate"></label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" name="restaurantName"
                                                [(ngModel)]="restaurantModel && restaurantModel.restaurantName"
                                                #restaurantName="ngModel" required>
                                            <div *ngIf="restaurantName.invalid && (restaurantName.dirty || restaurantName.touched || f.submitted)"
                                                class="error">
                                                <div *ngIf="restaurantName.errors?.required"
                                                    [innerHTML]="'Commons.Error.ErrRequired' | translate"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <label class="col-md-4"
                                            [innerHTML]="'Commons.Texts.CategoryRequired' | translate"></label>
                                        <div class="col-md-8">
                                            <ng-select name="categoryName" [items]="categoryAdminModels"
                                                bindValue="categoryId" bindLabel="categoryName" [multiple]="true"
                                                [(ngModel)]="restaurantModel.categoryIds" #categoryName="ngModel"
                                                placeholder="Select category name" required>
                                            </ng-select>

                                            <div *ngIf="categoryName.invalid && (categoryName.dirty || categoryName.touched || f.submitted)"
                                                class="error">
                                                <div *ngIf="categoryName.errors?.required"
                                                    [innerHTML]="'Commons.Error.ErrRequired' | translate"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <label class="col-md-4"
                                            [innerHTML]="'Commons.Texts.OwnerRequired' | translate"></label>
                                        <div class="col-md-8">
                                            <ng-select name="userName" [items]="userAdminModels" bindValue="userId"
                                                bindLabel="userName" [multiple]="true"
                                                [(ngModel)]="restaurantModel.userIds" #userName="ngModel"
                                                placeholder="Select category name" required>
                                            </ng-select>
                                            <div *ngIf="userName.invalid && (userName.dirty || userName.touched || f.submitted)"
                                                class="error">
                                                <div *ngIf="userName.errors?.required"
                                                    [innerHTML]="'Commons.Error.ErrRequired' | translate"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <label class="col-md-4" [innerHTML]="'Commons.Texts.Image' | translate"></label>
                                        <div class="col-md-8">
                                            <input type="file" name="upimage" id="upimage"
                                                accept=".bmp,.gif,.jpg,.jpe,.png,.docx"
                                                (change)="detectFiles($event)" />
                                            <div class="preview-img">
                                                <img *ngIf="!imgUrl && restaurantModel && restaurantModel.imageUrl"
                                                    src="{{clientState.BaseUrl + restaurantModel.imageUrl}}"
                                                    width="200">
                                                <img *ngIf="imgUrl" src="{{imgUrl}}" width="200">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <label class="col-md-4"
                                            [innerHTML]="'Commons.Texts.Slogan' | translate"></label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" name="restaurantSlogan"
                                                [(ngModel)]="restaurantModel && restaurantModel.slogan"
                                                #restaurantSlogan="ngModel">
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <label class="col-md-4"
                                            [innerHTML]="'Commons.Texts.AddressRequired' | translate"></label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" name="addressLine1"
                                                [(ngModel)]="restaurantModel.address" #addressLine1="ngModel" required
                                                [options]="{
                                                        types: ['address'],
                                                    componentRestrictions: { country: currentCountryCode}
                                                    }" (setAddress)="setAddressLine1($event)"
                                                (street_number)='street_number=$event' (street)='street=$event'
                                                (city)='onGetCityLine1($event)' (state)='state=$event'
                                                (district)='onGetDistrictLine1($event)' (country)='country=$event'
                                                (postal_code)='postal_code=$event' (lat)='onGetLatitude($event)'
                                                (lng)='onGetLongtitude($event)'
                                                (adr_address)='onGetAddressLine1($event)' (name)='name=$event'
                                                (place_id)='place_id=$event' (types)='types=$event' (url)='url=$event'
                                                (utc_offset)='utc_offset=$event' (vicinity)='vicinity=$event'
                                                (photos)='photos=$event' (airport)='airport=$event'
                                                (CountryCodes)='CountryCodes=$event' id="autocomplete"
                                                ng2-google-place-autocomplete>
                                            <!-- <input autocorrect="off" autocapitalize="off" spellcheck="off"
                                                [(ngModel)]="restaurantModel && restaurantModel.address"
                                                (blur)="onBlurSearch()" (focus)="onFocusSearch()"
                                                (ngModelChange)="onChangeAddress()" name="addressLine1"
                                                #addressLine1="ngModel" required type="text" class="form-control"
                                                #searchControl style="margin-bottom: 5px;" /> -->
                                            <div *ngIf="addressLine1.invalid && (addressLine1.dirty || addressLine1.touched || f.submitted)"
                                                class="error">
                                                <div *ngIf="addressLine1.errors?.required"
                                                    [innerHTML]="'Commons.Error.ErrRequired' | translate"></div>
                                            </div>
                                            <div *ngIf="isSearchAddressError"
                                                [innerHTML]="'Commons.Error.ErrorSearchAddress' | translate"
                                                class="error"></div>
                                            <!-- <agm-map #agmMap *ngIf="currentPosition" [zoom]="zoom" [latitude]="currentPosition.lat" [longitude]="currentPosition.lng">
                                                <agm-marker [markerClickable]="true" [latitude]="currentPosition.lat" [longitude]="currentPosition.lng"></agm-marker>
                                            </agm-map> -->
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <label class="col-md-4"
                                            [innerHTML]="'Commons.Texts.AddressDescRequired' | translate"></label>
                                        <div class="col-md-8">
                                            <textarea name="addressDesc" class="form-control" inputFocus
                                                [(ngModel)]="restaurantModel.addressDesc" inputFocus rows="5" required
                                                #addressDesc="ngModel"></textarea>
                                            <div *ngIf="addressDesc.invalid && (addressDesc.dirty || addressDesc.touched || f.submitted)"
                                                class="error">
                                                <div *ngIf="addressDesc.errors?.required"
                                                    [innerHTML]="'Commons.Error.ErrRequired' | translate"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <label class="col-md-4"
                                            [innerHTML]="'Commons.Texts.CityRequired' | translate"></label>
                                        <div class="col-md-8">

                                            <ng-select name="city" [items]="cityModels" bindValue="cityId"
                                                bindLabel="name" [multiple]="false"
                                                (change)="onGetDistrictByCity(restaurantModel.cityId)"
                                                [(ngModel)]="restaurantModel.cityId" #city="ngModel"
                                                placeholder="Select city" required>
                                            </ng-select>

                                            <!-- <select name="city" inputFocus [(ngModel)]="restaurantModel.cityId"
                                                (change)="onGetDistrictByCity(restaurantModel.cityId)" #city="ngModel"
                                                class="form-control" required>
                                                <option [ngValue]="null" disabled>Select city</option>
                                                <option *ngFor="let item of cityModels" [value]="item.cityId">
                                                    {{item.name}}</option>
                                            </select> -->
                                            <div *ngIf="city.invalid && (city.dirty || city.touched || f.submitted)"
                                                class="error">
                                                <div *ngIf="city.errors?.required"
                                                    [innerHTML]="'Commons.Error.ErrRequired' | translate"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <label class="col-md-4"
                                            [innerHTML]="'Commons.Texts.DistrictRequired' | translate"></label>
                                        <div class="col-md-8">
                                            <ng-select name="district" [items]="districtModels" bindValue="districtId"
                                                bindLabel="name" [multiple]="false"
                                                [(ngModel)]="restaurantModel.districtId" #district="ngModel"
                                                placeholder="Select district" required>
                                            </ng-select>
                                            <!-- <select name="district" inputFocus [(ngModel)]="restaurantModel.districtId"
                                                #district="ngModel" class="form-control" required>
                                                <option [ngValue]="null" disabled>Select district</option>
                                                <option *ngFor="let item of districtModels" [value]="item.districtId">
                                                    {{item.name}}</option>
                                            </select> -->
                                            <div *ngIf="district.invalid && (district.dirty || district.touched || f.submitted)"
                                                class="error">
                                                <div *ngIf="district.errors?.required"
                                                    [innerHTML]="'Commons.Error.ErrRequired' | translate"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <label class="col-md-4"
                                            [innerHTML]="'Commons.Texts.DeliveryDistrict' | translate"></label>
                                        <div class="col-md-8">
                                            <ng-select name="deliveryDistrics" [items]="multipleDeliveryDistrictModels"
                                                bindValue="districtId" bindLabel="name" [multiple]="true"
                                                [(ngModel)]="restaurantModel.workArea" #deliveryDistrics="ngModel"
                                                placeholder="Select delivery district" required>
                                            </ng-select>
                                            <div *ngIf="deliveryDistrics.invalid && (deliveryDistrics.dirty || deliveryDistrics.touched || f.submitted)"
                                                class="error">
                                                <div *ngIf="deliveryDistrics.errors?.required"
                                                    [innerHTML]="'Commons.Error.ErrRequired' | translate"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <label class="col-md-4"
                                            [innerHTML]="'Commons.Texts.Latitude' | translate"></label>
                                        <div class="col-md-8">
                                            <input type="number" [readonly]="isSearchAddress" class="form-control"
                                                name="latitude"
                                                [(ngModel)]="restaurantModel && restaurantModel.latitude"
                                                (keyup)="onGetAddressFromLatLng($event.target.value, restaurantModel.longitude, true)" />
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <label class="col-md-4"
                                            [innerHTML]="'Commons.Texts.Longtitude' | translate"></label>
                                        <div class="col-md-8">
                                            <input type="number" [readonly]="isSearchAddress" class="form-control"
                                                name="longitude"
                                                [(ngModel)]="restaurantModel && restaurantModel.longitude"
                                                (keyup)="onGetAddressFromLatLng(restaurantModel.latitude, $event.target.value, false)" />
                                        </div>
                                    </div>

                                    <!-- Delivery districs -->
                                    <!-- <div class="separator-dashed"></div>
                                    <h2 class="separator-dashed-tilte">Delivery districs</h2>
                                    <div class="separator-dashed"></div> -->

                                    <!-- <div *ngFor="let itemCity of cityMultipleDistrictsModel; let i = index;"> -->

                                    <!-- <div class="row form-group">
                                        <label class="col-md-4">Delivery city</label>
                                        <div class="col-md-8">
                                            <ng-select name="deliveryCity" [items]="cityModels" bindValue="cityId"
                                                bindLabel="name" [multiple]="false"
                                                [(ngModel)]="restaurantModel.cityIds" #deliveryCity="ngModel"
                                                (change)="onGetDistrictByCityMultiple(restaurantModel.cityIds)"
                                                placeholder="Select delivery city">
                                            </ng-select>
                                        </div> -->
                                    <!-- <div class="action col-md-2">
                                                <button type="button" (click)="onAddCity()" style="background: gray"
                                                    class="btn btn-default">+</button>
                                                <button type="button" (click)="onRemoveCity(itemCity.cityId)" style="background: gray"
                                                    class="btn btn-default" *ngIf="i > 0">-</button>
                                            </div> -->
                                    <!-- </div> -->

                                    <!-- <div class="row form-group">
                                        <label class="col-md-4">Delivery districs</label>
                                        <div class="col-md-8">
                                            <ng-select name="deliveryDistrics" [items]="multipleDistrictCityModels"
                                                bindValue="districtId" bindLabel="name" [multiple]="true"
                                                [(ngModel)]="restaurantModel.workArea[0].districs"
                                                #deliveryDistrics="ngModel" placeholder="Select delivery district">
                                            </ng-select>
                                        </div>
                                    </div> -->

                                    <!-- </div> -->

                                    <!-- End -->

                                    <!-- Open - Close time -->
                                    <div class="separator-dashed"></div>
                                    <h2 class="separator-dashed-tilte"
                                        [innerHTML]="'Commons.Texts.WorkingTime' | translate"></h2>
                                    <div class="separator-dashed"></div>

                                    <div *ngFor="let val of restaurantModel.restaurantWorkTimeModels; let j = index"
                                        class="menu-extra-item">
                                        <div *ngFor="let extra of val.list; let i = index" class="row form-group">
                                            <label *ngIf="i == 0" class="col-md-4"
                                                [innerHTML]="'Commons.Texts.' + val.weekDay | translate"></label>
                                            <label *ngIf="i > 0" class="col-md-4"></label>
                                            <div class="col-md-3">
                                                <!-- Input open time -->
                                                <input type="time" comparison="lesser"
                                                    [timeComparison]="extra.closeTime" name="{{j}}{{i}}open"
                                                    id="{{j}}{{i}}open" class="form-control" (click)="onOpenTimePicker(j, i, 0)"
                                                    [(ngModel)]="extra.openTime" #menuExtraItemNameOpen="ngModel" />
                                                <!-- Required open time -->
                                                <div *ngIf="(checkOpenLesserClose == true || checkOpenOrCloseIsNull == true) && x == j && y == i"
                                                    class="error"
                                                    [innerHTML]="'Commons.Error.ErrorOpenTime' | translate">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <!-- Input close time -->
                                                <input type="time" comparison="greater"
                                                    [timeComparison]="extra.openTime" name="{{j}}{{i}}close"
                                                    id="{{j}}{{i}}close" class="form-control" (click)="onOpenTimePicker(j, i, 1)"
                                                    [(ngModel)]="extra.closeTime" #menuExtraItemNameClose="ngModel" />
                                                <!-- Required close time -->
                                                <div *ngIf="menuExtraItemNameClose.touched" class="error">
                                                    <div *ngIf="menuExtraItemNameClose.errors?.timeInValid"
                                                        [innerHTML]="'Commons.Error.ErrorCloseTime' | translate">
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Button add and remove open close time -->
                                            <div class="action col-md-2">
                                                <button type="button" (click)="onAddMoreExtraItem(val.list, val)"
                                                    style="background: gray" class="btn btn-default">+</button>
                                                <button type="button" (click)="onRemoveExtraItem(val.list)"
                                                    style="background: gray" class="btn btn-default"
                                                    *ngIf="i > 0">-</button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="separator-dashed"></div>
                                    <!-- End -->

                                    <!-- <div class="row form-group">
                                        <label class="col-md-4"
                                            [innerHTML]="'Commons.Texts.OpenTimeRequired' | translate"></label>
                                        <div class="col-md-8">
                                            <input type="time" comparison="lesser" timeComparison="closeTime"
                                                atp-time-picker name="openTime" class="form-control"
                                                [(ngModel)]="restaurantModel && restaurantModel.openTime"
                                                #openTime="ngModel" required />
                                            <div *ngIf="openTime.invalid && (openTime.dirty || openTime.touched || f.submitted)"
                                                class="error">
                                                <div *ngIf="openTime.errors?.required"
                                                    [innerHTML]="'Commons.Error.ErrRequired' | translate"></div>
                                                <div *ngIf="openTime.errors?.timeInValid"
                                                    [innerHTML]="'Commons.Error.ErrorOpenTime' | translate"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <label class="col-md-4"
                                            [innerHTML]="'Commons.Texts.CloseTimeRequired' | translate"></label>
                                        <div class="col-md-8">
                                            <input type="time" comparison="greater" timeComparison="openTime"
                                                atp-time-picker name="closeTime" class="form-control"
                                                [(ngModel)]="restaurantModel && restaurantModel.closeTime"
                                                #closeTime="ngModel" required />
                                            <div *ngIf="closeTime.invalid && (closeTime.dirty || closeTime.touched || f.submitted)"
                                                class="error">
                                                <div *ngIf="closeTime.errors?.required"
                                                    [innerHTML]="'Commons.Error.ErrRequired' | translate"></div>
                                                <div *ngIf="closeTime.errors?.timeInValid"
                                                    [innerHTML]="'Commons.Error.ErrorCloseTime' | translate"></div>
                                            </div>
                                        </div>
                                    </div> -->

                                    <div class="row form-group">
                                        <label class="col-md-4"
                                            [innerHTML]="'Commons.Texts.Phone1' | translate"></label>
                                        <div class="col-md-8">
                                            <input type="tel" class="form-control" name="phone1"
                                                [(ngModel)]="restaurantModel && restaurantModel.phone1"
                                                #phone1="ngModel" required />
                                            <div *ngIf="phone1.invalid && (phone1.dirty || phone1.touched || f.submitted)"
                                                class="error">
                                                <div *ngIf="phone1.errors?.required"
                                                    [innerHTML]="'Commons.Error.ErrRequired' | translate"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <label class="col-md-4"
                                            [innerHTML]="'Commons.Texts.Phone2' | translate"></label>
                                        <div class="col-md-8">
                                            <input type="tel" class="form-control" name="phone2"
                                                [(ngModel)]="restaurantModel && restaurantModel.phone2"
                                                #phone2="ngModel" required />
                                            <div *ngIf="phone2.invalid && (phone2.dirty || phone2.touched || f.submitted)"
                                                class="error">
                                                <div *ngIf="phone2.errors?.required"
                                                    [innerHTML]="'Commons.Error.ErrRequired' | translate"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <label class="col-md-4"
                                            [innerHTML]="'Commons.Texts.MinPriceRequired' | translate"></label>
                                        <div class="col-md-6">
                                            <input type="number" min="0" class="form-control" name="minPrice"
                                                [(ngModel)]="restaurantModel && restaurantModel.minPrice"
                                                #minPrice="ngModel" required
                                                onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" />
                                            <div *ngIf="minPrice.invalid && (minPrice.dirty || minPrice.touched || f.submitted)"
                                                class="error">
                                                <div *ngIf="minPrice.errors?.required"
                                                    [innerHTML]="'Commons.Error.ErrRequired' | translate"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <label class="col-md-4"
                                            [innerHTML]="'Commons.Texts.DeliveryCostRequired' | translate"></label>
                                        <div class="col-md-6">
                                            <input type="number" min="0" class="form-control" name="deliveryCost"
                                                [(ngModel)]="restaurantModel && restaurantModel.deliveryCost"
                                                #deliveryCost="ngModel" required
                                                onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" />
                                            <div *ngIf="deliveryCost.invalid && (deliveryCost.dirty || deliveryCost.touched || f.submitted)"
                                                class="error">
                                                <div *ngIf="deliveryCost.errors?.required"
                                                    [innerHTML]="'Commons.Error.ErrRequired' | translate"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <label class="col-md-4"
                                            [innerHTML]="'Commons.Texts.EstimateTimeRequired' | translate"></label>
                                        <div class="col-md-6">
                                            <input type="number" min="0" class="form-control" name="estDeliveryTime"
                                                [(ngModel)]="restaurantModel && restaurantModel.estDeliveryTime"
                                                #estDeliveryTime="ngModel" required
                                                onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" />
                                            <div *ngIf="estDeliveryTime.invalid && (estDeliveryTime.dirty || estDeliveryTime.touched || f.submitted)"
                                                class="error">
                                                <div *ngIf="estDeliveryTime.errors?.required"
                                                    [innerHTML]="'Commons.Error.ErrRequired' | translate"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <label class="col-md-4"
                                            [innerHTML]="'Commons.Texts.Status' | translate"></label>
                                        <div class="col-md-8">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" [value]="1" name="status"
                                                        [(ngModel)]="restaurantModel && restaurantModel.status">Active</label>
                                                <label>
                                                    <input type="radio" [value]="0" name="status"
                                                        [(ngModel)]="restaurantModel && restaurantModel.status">InActive</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <label class="col-md-4"
                                            [innerHTML]="'Commons.Texts.DescriptionRequired' | translate"></label>
                                        <div class="col-md-8">
                                            <p-tabView>
                                                <p-tabPanel
                                                    *ngFor="let lang of restaurantModel && restaurantModel.languageLst; let i = index;"
                                                    [selected]="i==0" header="{{lang.name}}">
                                                    <div class="form-group col-xs-12"
                                                        *ngFor="let feild of lang.contentDef; let k = index;">
                                                        <textarea class="form-control" #description="ngModel"
                                                            id="{{feild.code}}{{i}}{{k}}"
                                                            name="{{feild.code}}{{i}}{{k}}" [(ngModel)]="feild.value"
                                                            required></textarea>
                                                        <div *ngIf="description.invalid && (description.dirty || description.touched || f.submitted)"
                                                            class="error">
                                                            <div *ngIf="description.errors?.required"
                                                                [innerHTML]="'Commons.Error.ErrRequired' | translate">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </p-tabPanel>
                                            </p-tabView>
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="col-md-5">
                                                <div class="form-group">
                                                    <label for="formGroupExampleInput">Free Ship</label>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" selected value="">Don't care</label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" selected value="">Free ship</label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" selected value="">20.000 or less than</label>
                                                    </div>
                                                </div>
            
                                                <div class="form-group">
                                                    <label for="formGroupExampleInput">Minimum order</label>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" selected value="">Don't care</label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" selected value="">Less than 100</label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" selected value="">Less than 200</label>
                                                    </div>
                                                </div>
            
                                                <div class="form-group">
                                                    <label for="formGroupExampleInput">Promotion</label>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" selected value="">10%</label>
                                                    </div>
                                                </div>
            
                                                <div class="form-group">
                                                    <label for="formGroupExampleInput">Payments</label>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" selected value="">Cash</label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" selected value="">Visa Card</label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" selected value="">Paypal</label>
                                                    </div>
                                                </div>
                                            </div> -->
                            </div>
                            <div *ngIf="errorIsValid" class="error"
                                [innerHTML]="'Commons.Texts.ErrorIsValid' | translate"></div>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-default btn-primary" [disabled]="clientState.isBusy"
                                [innerHTML]="'Commons.Buttons.Save' | translate"></button>
                            <a [routerLink]="['..']" routerLinkActive="active" class="btn btn-default btn-danger"
                                [innerHTML]="'Commons.Buttons.Cancel' | translate"></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>