<div class="owner-main-content">
    <div class="container-fluid">
        <p class="development-inprogress">
            <i class="fa fa-spinner"></i> Development inprogress...</p>
        <div class="row">
            <div class="col-xs-12 header">
                <h4 class="title">T-Connect</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <p>Receive orders directly on your computer? If you have a computer with an internet connection in your
                            restaurant, you don't have to worry anymore about your email or fax machine. Orders will be sent
                            automatically to our T-Connect software on your computer. If you prefer, the orders can be automatically
                            printed as well.</p>
                        <p>Click on the link below to download T-Connect, preferably on the machine on which you'll be using
                            the T-Connect software. After the installation our callcenter team will create a connection to
                            your restaurant.</p>
                        <p>
                            <a href="/tconnect/download.php?r=TVRjMU56STJOQT09">
                                <strong>Download T-Connect</strong>
                            </a>
                        </p>

                        <p>
                            <a target="_blank" href="/tconnect/manuals/T-Connect_Manual_EN.pdf">Download the T-Connect manual</a> (EN)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>