<header class="main-header {{isToggleOwnerNav ? 'collapse' : ''}}">
    <a routerLink="/" routerLinkActive="active" class="logo">
        <span class="logo-mini">
            <b>M</b>
        </span>
        <span class="logo-lg">
            <b>Mimerol</b>
        </span>
    </a>
    <nav class="navbar">
        <a (click)="onToggleOwnerNav()" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="languages">
                    <a *ngFor="let lang of languages; let last = last" (click)="setLanguage(lang)">{{lang.split('-')[0].toUpperCase()}}
                        <span *ngIf="!last">|</span>
                    </a>
                </li>
                <li class="dropdown user user-menu">
                    <a href="/owner" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="assets/images/admin/user2-160x160.jpg" class="user-image" alt="User Image">
                        <span class="hidden-xs">{{userName}}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <img src="assets/images/admin/default-50x50.gif" class="img-circle" alt="User Image">

                            <p>
                                Alexander Pierce - Web Developer
                                <small>Member since Nov. 2012</small>
                            </p>
                        </li>
                        <li class="user-body">
                            <div class="row">
                                <div class="col-xs-4 text-center">
                                    <a href="#">Followers</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#">Sales</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#">Friends</a>
                                </div>
                            </div>
                        </li>
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#" class="btn btn-default btn-flat">Profile</a>
                            </div>
                            <div class="pull-right">
                                <a href="#" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div [hidden]="!clientState.isBusy" class="component-progressbar">
        <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
    </div>
</header>