<div class="owner-main-content form-main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 header">
                <h2 class="title" [innerHTML]="'Owner.Promotion.PromotionManagement' | translate"></h2>
            </div>
        </div>

        <div class="row filter-pane">
            <div class="col-xs-12 col-md-12">
                <div class="form-group text-left">
                    <a [routerLink]="['new']" routerLinkActive="active" class="btn btn-default btn-primary" style="background: #ff7d26;">
                        <span [innerHTML]="'Commons.Texts.New' | translate"></span>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>
                    <!-- <button type="button" class="btn btn-default btn-danger" (click)="onDeleteItems()" [disabled]="!isSelectedItem() || clientState.isBusy">
                        <span [innerHTML]="'Commons.Texts.Delete' | translate"></span>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button> -->
                </div>
            </div>
        </div>

        <div *ngIf="promotionOwnerModels.length > 0 && !!message" class="form-message">
            <h2 class="message {{isError ? 'error' : ''}}">
                {{message}}
            </h2>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary" style="border-top-color: #ff7d26;">
                    <div class="box-header">
                        <h3 class="box-title" [innerHTML]="'Owner.Promotion.ManageYourPromotion' | translate"></h3>
                    </div>
                    <div class="box-body">
                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered">
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th>
                                        <input type="text" class="form-control input-sm" />
                                    </th>
                                    <th>
                                        <input type="text" class="form-control input-sm" />
                                    </th>
                                    <th>
                                        <input type="text" class="form-control input-sm" />
                                    </th>
                                    <th>
                                        <input type="text" class="form-control input-sm" />
                                    </th>
                                    <th>
                                        <input type="text" class="form-control input-sm" />
                                    </th>
                                    <th>
                                        <input type="text" class="form-control input-sm" />
                                    </th>
                                    <th>
                                        <input type="text" class="form-control input-sm" />
                                    </th>
                                    <th>
                                        <input type="text" class="form-control input-sm" />
                                    </th>
                                    <th></th>
                                </tr>
                            </tfoot>
                            <thead>
                                <tr>
                                    <!-- <th>
                                        <input type="checkbox" [checked]="isSelectdAllItems()" (change)="onChangeDeletedItems()">
                                    </th> -->
                                    <th class="text-center">No.</th>
                                    <th [innerHTML]="'Commons.Texts.PromotionName' | translate"></th>
                                    <th [innerHTML]="'Commons.Texts.Restaurant' | translate"></th>
                                    <th [innerHTML]="'Commons.Texts.Value' | translate"></th>
                                    <th [innerHTML]="'Commons.Texts.PromotionCode' | translate"></th>
                                    <th [innerHTML]="'Commons.Texts.MinOrder' | translate"></th>
                                    <th [innerHTML]="'Commons.Texts.StartDate' | translate"></th>
                                    <th [innerHTML]="'Commons.Texts.EndDate' | translate"></th>
                                    <th [innerHTML]="'Commons.Texts.Status' | translate"></th>
                                    <th>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of promotionOwnerModels; let i = index;">
                                    <!-- <td>
                                        <input type="checkbox" name="itemDelete{{i}}" [(ngModel)]="item.isDeleted">
                                    </td> -->
                                    <td class="text-center">{{i + ((paginModel.pageIndex - 1) * paginModel.pageSize) + 1}}</td>
                                    <td>
                                        <a routerLink="./{{item && item.promotionId}}" routerLinkActive="active">
                                            <span *ngFor="let promotionName of item.languageLst[0].contentDef; let i = index;">
                                                <span *ngIf="promotionName && promotionName.code=='promotion_name'">
                                                    {{promotionName.value}}
                                                </span>
                                            </span>
                                        </a>
                                    </td>
                                    <td>
                                        <span>{{item && item.restaurantName}}</span>
                                    </td>
                                    <td>
                                        <span>{{item && item.value}}</span>
                                    </td>
                                    <td>
                                        <span>{{item && item.code}}</span>
                                    </td>
                                    <td>
                                        <span>{{item && item.minOrder}}</span>
                                    </td>
                                    <td>
                                        <span>{{item && item.startDate | date: 'dd-MM-yyyy'}}</span>
                                    </td>
                                    <td>
                                        <span>{{item && item.endDate | date: 'dd-MM-yyyy'}}</span>
                                    </td>
                                    <td>
                                        <span>{{i18nService.getTransEnum(promotionStatus[item && item.status])}}</span>
                                    </td>
                                    <td class="text-center">
                                        <a title="Delete" class="btn btn-default btn-danger" (click)="onDeleteItem(item.promotionId)">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- <p *ngIf="paginModel && paginModel.totalCount == 0" [innerHTML]="'Commons.Texts.NoRecordFound' | translate"></p> -->
                    </div>
                    <div class="box-footer">
                        <!-- <pagination *ngIf="paginModel && paginModel.totalCount > 0" [disabled]="clientState.isBusy" [boundaryLinks]="true" [directionLinks]="true"
                            [totalItems]="paginModel.totalCount" [itemsPerPage]="currentPageSize" [rotate]="false" (pageChanged)="onPageChanged($event)"
                            [currentPageIndex]="paginModel.pageNumber">
                        </pagination> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>