<div class="news-promotion"
    *ngIf="restaurantDetailModel && restaurantDetailModel.promotionLineItems && restaurantDetailModel.promotionLineItems[0]">
    <div class="promotion-item">
        <span class="icon-discount icon-discount-code"></span>
        <div class="title">
            <span class="bold">Sale</span>
            <span class="txt-red bold">{{restaurantDetailModel.promotionLineItems[0].value}}%</span> - Insert code:
            <span class="txt-red bold">{{restaurantDetailModel.promotionLineItems[0].code}}</span>
        </div>
        <p>
            End time:
            <span class="bold">{{restaurantDetailModel.promotionLineItems[0].endDate | date: 'dd-MM-yyyy'}}</span>
        </p>
        <p class="min-order">
            Min order:
            <span class="bold">{{restaurantDetailModel.promotionLineItems[0].minOrder}} C$</span>
        </p>
    </div>
</div>

<div class="card">
    <h2 class="tint_menu">{{selectedMenuName}}</h2>
    <div *ngIf="menuItemModels && menuItemModels.length > 0" class="item-wrapper">
        <div class="fp_inner_box" data-scroll-index="0" *ngFor="let item of menuItemModels; let i = index">
            <div class="menu_item">
                <!-- <input class="magic-checkbox" type="checkbox" name="layout{{i}}" id="{{i}}"
                    [(ngModel)]="item.isSelected" (ngModelChange)="onSelectItem(item)"> -->
                <label class="text" for="{{i}}"
                    [ngClass]="{'restaurant-closed': restaurantDetailModel.restaurantClosed==true}">
                    <div class="menu_image">
                        <div class="img_ads">
                            <div class="box_img">
                                <a class="active">
                                    <img src="{{!item.urlImge ? 'assets/images/logo.png' : clientState.BaseUrl + item.urlImge}}"
                                        alt="{{item.restaurantName}}" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <h3>
                        <span>{{item.menuItemName}}</span>
                        <span class="fp_price">{{spainCurrency.symbol}}{{item.priceOriginal.toLocaleString()}}</span>
                    </h3>
                    <div class="menu_description">{{item.desc}}</div>
                </label>
                <button type="button" class="btn_additem" (click)="onSelectItem(item)"><i class="fa fa-plus" aria-hidden="true"></i></button>
            </div>
            <div *ngIf="item.menuExraItems && item.menuExraItems.length > 0" class="menu_extraitems">
                <div class="row">
                    <div class="extra_items" *ngFor="let extraItem of item.menuExraItems; let i = index">
                        <label class="extra_item_name">{{extraItem.name}}:</label>
                        <div *ngIf="extraItem.extraItemType == 1 && extraItem.extraitems && extraItem.extraitems.length > 0"
                            class="item single_choice">
                            <div class="col-xs-6">
                                <select class="form-control" name="single_choice{{i}}"
                                    [(ngModel)]="extraItem.selectedExtraItem"
                                    (ngModelChange)="onSelectSingleExtraItem(item, extraItem)">
                                    <option [ngValue]="null" selected
                                        [innerHTML]="'Components.Order.SelectOneExtraItem' | translate"></option>
                                    <option *ngFor="let extItem of extraItem.extraitems" [ngValue]="extItem">
                                        {{extItem.name}}(+${{extItem.priceRate}})</option>
                                </select>
                            </div>
                        </div>
                        <div *ngIf="extraItem.extraItemType == 2 && extraItem.extraitems && extraItem.extraitems.length > 0"
                            class="item multiple_choice">
                            <div *ngFor="let extItem of extraItem.extraitems; let i = index" class="col-xs-6">
                                <div class="extra-item-checkbox">
                                    <p-checkbox name="extItem{{i}}" label="{{extItem.name}} (+${{extItem.priceRate}})"
                                        [(ngModel)]="extItem.isSelected" binary="true"
                                        (onChange)="onSelectExtraItem(item, extItem)"></p-checkbox>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button type="button" class="btn_additem" (click)="onSelectItemExtra(item, extraItem.extraitems, extraItem.selectedExtraItem)"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="menuItemModels && menuItemModels.length <= 0">
        There is no item.
    </div>
</div>
<order-confirm-dialog [visible]="isResClose" [isResClose]="isResClose" (onClose)="onCloseConfirm($event)">
</order-confirm-dialog>