<div class="main-content">
  <div id="container">
    <section class="section_child">
      <div class="bg_child" style="background-image:url(assets/images/bg-child.jpg);">
        <div class="container">
          <div class="breadcrumb">
            <h1>
              <span class="fonts-light">{{'Components.LoginAndSignUp.TxtVerifyAccount' | translate}}</span>
            </h1>
          </div>
        </div>
      </div>
    </section>

    <!-- section login -->
    <section class="section section-verify" *ngIf="!!token" style="padding: 30px 0;">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h2>{{'Components.LoginAndSignUp.TxtActivateAccount' | translate}}</h2>
            <div *ngIf="isVerified">
              <p>{{'Components.LoginAndSignUp.ActivatedSuccess' | translate}}</p>
              <a [routerLink]="['', 'login']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{'Components.LoginAndSignUp.TxtBackToLogin' | translate}}</a>
            </div>
            <div *ngIf="isResend">
              <p>{{'Components.LoginAndSignUp.TokenExpired' | translate}}</p>
              <button class="btn btn-default btn-primary" (click)="onResend()" [disabled]="clientState.isBusy">
                {{'Commons.Buttons.Resend' | translate}}
              </button>
            </div>
            <div *ngIf="isResendSuccess">
              <p [innerHTML]="'Components.LoginAndSignUp.SendSignInSuccess' | translate"></p>
              <b>{{userSignin.email}}.</b>
              <p>{{'Components.LoginAndSignUp.FollowInstructions' | translate}}</p>
            </div>
            <div *ngIf="error" class="form-input error">
              {{'Commons.HttpStatus.' + statusError | translate}}
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>