.magic-radio,
.magic-checkbox {
    position: absolute;
    display: none;
    &:checked {
        +label {
            &::before {
                border: 1px solid #ED6A13;
                background: #ED6A13;
                animation-name: none;
            }
            &::after {
                display: block;
            }
        }
    }
    &+label,
        {
        position: relative;
        display: block;
        padding-left: 30px;
        cursor: pointer;
        font-weight: 400;
        margin: 0;
        font-size: 13px;
        &::before {
            position: absolute;
            top: 3px;
            left: 0;
            display: inline-block;
            width: 16px;
            height: 16px;
            content: '';
            border: 1px solid #B9B9B9;
            border-radius: 50%;
        }
        &::after {
            position: absolute;
            display: none;
            content: '';
        }
        &:hover {
            &::before {
                animation-duration: 0.4s;
                animation-fill-mode: both;
                animation-name: hover-color;
            }
        }
    }
}

.magic-checkbox + label:after {
    top: 3px;
    right: 6px;
    box-sizing: border-box;
    width: 6px;
    height: 9px;
    transform: rotate(45deg);
    border-width: 2px;
    border-style: solid;
    border-color: #F06D16;
    border-top: 0;
    border-left: 0;
}

/*Ratio*/

.magic-radio {
    &:checked {
        &+label {
            &::after {
                width: 6px;
                height: 6px;
                left: 5px;
                top: 8px;
                border-radius: 50%;
                background: #fff;
            }
        }
    }
}