<div class="owner-main-content">
    <div class="container-fluid">
        <p class="development-inprogress"><i class="fa fa-spinner"></i> Development inprogress...</p>
        <div class="row">
            <div class="col-xs-12 header">
                <h4 class="title">This is invoicing address</h4>
                <h5 class="subtitle">
                    Please contact our
                    <a [routerLink]="['','owner','contacts']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">call center</a> if the following address information is incorrect or incomplete.
                </h5>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-warning">
                    <div class="box-body">
                        <div class="row form-group">
                            <label for="formGroupExampleInput" class="col-md-3">Company name</label>
                            <div class="col-md-6">
                                <span>
                                    Mister Kebab
                                </span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label for="formGroupExampleInput" class="col-md-3">Addressed to</label>
                            <div class="col-md-6">
                                <span>
                                    Richard Liebmann
                                </span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label for="formGroupExampleInput" class="col-md-3">Street name</label>
                            <div class="col-md-6">
                                <span>
                                    B12, Ben Thanh streetfood market, Thu Khoa Huan street
                                </span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label for="formGroupExampleInput" class="col-md-3">Number</label>
                            <div class="col-md-6">
                                <span>
                                    -
                                </span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label for="formGroupExampleInput" class="col-md-3">Postcode</label>
                            <div class="col-md-6">
                                <span>
                                    Quận 1
                                </span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label for="formGroupExampleInput" class="col-md-3">City</label>
                            <div class="col-md-6">
                                <span>
                                    Hồ Chí Minh
                                </span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label for="formGroupExampleInput" class="col-md-3">Fax number</label>
                            <div class="col-md-6">
                                <span>
                                    -
                                </span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label for="formGroupExampleInput" class="col-md-3">Email address</label>
                            <div class="col-md-6">
                                <span>
                                    liebmannouverture@gmail.com
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>