<div *ngIf="visible" class="dialog-container">
    <div class="dialog-wrapper">
        <div class="dialog-header">
            <h4 class="title" [innerHTML]="'Commons.Texts.OrderDetails' | translate"></h4> ({{orderCode}})
            <a class="btn-close" (click)="onClose(false)"></a>
        </div>

        <div class="order-box">
            <div class="order-wrapper">
                <div class="order-picture">
                    <img class="logo"
                        src="{{adminOrderModel && adminOrderModel.imageUrl =='' ? 'assets/images/logo.png' : clientState.BaseUrl + adminOrderModel.imageUrl}}"
                        alt="{{adminOrderModel && adminOrderModel.restaurantName}}" />
                </div>
                <div class="order-detail">
                    <h2 class="restaurant-name">
                        {{adminOrderModel && adminOrderModel.restaurantName}}
                    </h2>

                    <p><i>#{{orderCode}}</i></p>

                    <p>{{adminOrderModel && adminOrderModel.totalPrice}} {{currencySymbol}}</p>

                    <p *ngIf="adminOrderModel && adminOrderModel.orderInfos && adminOrderModel.orderInfos[0].infoName">
                        <span [innerHTML]="'Commons.Texts.Name' | translate"></span>
                        <span> : {{adminOrderModel && adminOrderModel.orderInfos[0].infoName}}</span>
                    </p>

                    <p *ngIf="adminOrderModel && adminOrderModel.orderInfos && adminOrderModel.orderInfos[0].infoEmail">
                        <span [innerHTML]="'Commons.Texts.Email' | translate"></span>
                        <span> : {{adminOrderModel && adminOrderModel.orderInfos[0].infoEmail}}</span>
                    </p>

                    <p
                        *ngIf="adminOrderModel && adminOrderModel.orderInfos && adminOrderModel.orderInfos[0].infoNumber">
                        <span [innerHTML]="'Commons.Texts.Phone' | translate"></span>
                        <span> : {{adminOrderModel && adminOrderModel.orderInfos[0].infoNumber}}</span>
                    </p>

                    <p *ngIf="adminOrderModel && adminOrderModel.orderInfos && adminOrderModel.orderInfos[0].remark">
                        <span [innerHTML]="'Commons.Texts.Remarks' | translate"></span>
                        <span> : {{adminOrderModel && adminOrderModel.orderInfos[0].remark}}</span>
                    </p>

                    <p>
                        <span *ngIf="adminOrderModel && adminOrderModel.orderDate">
                            {{adminOrderModel && adminOrderModel.orderDate | date: 'dd-MM-yyyy'}}</span>
                        <span [innerHTML]="'Components.Order.At' | translate"></span>
                        <span
                            *ngIf="adminOrderModel && adminOrderModel.orderDate">{{adminOrderModel && adminOrderModel.orderDate | date: 'HH:mm'}}
                            - </span>
                        <span [innerHTML]="'Components.Order.DeliveredTo' | translate"></span>
                        <span
                            *ngIf="adminOrderModel && adminOrderModel.orderInfos && adminOrderModel.orderInfos[0].address">{{adminOrderModel && adminOrderModel.orderInfos[0].address}},</span>
                        <span
                            *ngIf="adminOrderModel && adminOrderModel.orderInfos && adminOrderModel.orderInfos[0].district">{{adminOrderModel && adminOrderModel.orderInfos[0].district}},</span>
                        <span
                            *ngIf="adminOrderModel && adminOrderModel.orderInfos && adminOrderModel.orderInfos[0].city">{{adminOrderModel && adminOrderModel.orderInfos[0].city}}</span>
                        <span
                            *ngIf="adminOrderModel && adminOrderModel.orderInfos && adminOrderModel.orderInfos[0].addressDescription">({{adminOrderModel && adminOrderModel.orderInfos[0].addressDescription}})</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="order-details">
            <h4>
                <b>Your order</b>
            </h4>
            <div class="order-details-content">
                <table cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr *ngFor="let orderItem of adminOrderModel.orderLineItems">
                            <td>{{orderItem.quantity}}x</td>
                            <td>{{orderItem.menuItemName}}
                                <div *ngIf="orderItem.menuExraItems" style="font-size: 12px;">
                                    <ng-container *ngFor="let combo of orderItem.menuExraItems; let i = index">
                                        <span
                                            *ngIf="combo.extraItemType == 1 && combo.extraitems && combo.extraitems.length > 0">
                                            <ng-container>
                                                <span style="font-style: italic">{{combo.extraitems[0].name}}
                                                    ({{combo.extraitems[0].price}})</span>
                                                <span
                                                    *ngIf="i == 0 && (orderItem.menuExraItems.length < 2 || (orderItem.menuExraItems.length > 1 && orderItem.menuExraItems[1].extraitems.length == 0))">.</span>
                                            </ng-container>
                                        </span>
                                        <span
                                            *ngIf="combo.extraItemType == 2 && combo.extraitems && combo.extraitems.length > 0">
                                            <ng-container *ngFor="let comboItems of combo.extraitems; let j = index">
                                                <span
                                                    *ngIf="i == 1 && j < 1 && orderItem.menuExraItems[0].extraitems.length > 0">,</span>
                                                <span *ngIf="combo.extraitems.length > 0"> </span>
                                                <span style="font-style: italic">{{comboItems.name}}
                                                    ({{comboItems.price}})</span>
                                                <span *ngIf="combo.extraitems.length - 1 > j">,</span>
                                                <span *ngIf="combo.extraitems.length - 1 == j">.</span>
                                            </ng-container>
                                        </span>
                                    </ng-container>
                                </div>
                            </td>
                            <td>{{orderItem.totalPrice}} {{currencySymbol}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="delivery-costs">Delivery:</td>
                            <td>{{adminOrderModel.deliveryCost}} {{currencySymbol}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="delivery-costs">Discount:</td>
                            <td>{{adminOrderModel.discountPercent}} %</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="total-costs">
                                <b>Total:</b>
                            </td>
                            <td>
                                <b>{{adminOrderModel.totalPrice}} {{currencySymbol}}</b>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="delivery-costs">{{'Commons.Texts.GuestPay' | translate}}:</td>
                            <td>{{adminOrderModel.paymentWith}} {{currencySymbol}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="delivery-costs">{{'Commons.Texts.Refunds' | translate}}:</td>
                            <td>{{adminOrderModel.paymentWith - adminOrderModel.totalPrice}} {{currencySymbol}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="payment-method">{{'Commons.Texts.PaymentMethods' | translate}}:</td>
                            <td>{{'Commons.Texts.' + paymentMethod[adminOrderModel.paymentType] | translate}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <form (ngSubmit)="onUpdateOrder(f)" #f="ngForm" novalidate>
            <div class="order-status">
                <div class="row">
                    <div class="col-md-2">
                        <h4>
                            <b>Status</b>
                        </h4>
                    </div>
                    <div class="col-md-6">
                        <select name="status" class="form-control" [(ngModel)]="adminOrderModel.status"
                            #status="ngModel" required>
                            <option value="1" [innerHTML]="'Commons.Texts.New' | translate"></option>
                            <option value="2" [innerHTML]="'Commons.Texts.Confirmed' | translate"></option>
                            <option value="3" [innerHTML]="'Commons.Texts.Deliveried' | translate"></option>
                            <option value="4" [innerHTML]="'Commons.Texts.Rejected' | translate"></option>
                            <option value="5" [innerHTML]="'Commons.Texts.Canceled' | translate"></option>
                        </select>
                        <div *ngIf="status.invalid && (status.dirty || status.touched || f.submitted)" class="error">
                            <div *ngIf="status.errors?.required" [innerHTML]="'Commons.Error.ErrRequired' | translate">
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="adminOrderModel.status == 4 || adminOrderModel.status == 5" class="row">
                    <div class="col-md-2">
                        <h4>
                            <b>Reason</b>
                        </h4>
                    </div>
                    <div *ngIf="adminOrderModel.status == 4" class="col-md-6">
                        <textarea name="reasonReject" id="reasonReject" class="form-control" cols="40" rows="5"
                            maxlength="500" placeholder="{{'Commons.Texts.EnterReason' | translate}}"
                            [(ngModel)]="adminOrderModel.reasonReject" #reasonReject="ngModel" required></textarea>
                        <div *ngIf="reasonReject.invalid && (reasonReject.dirty || reasonReject.touched || f.submitted)"
                            class="error">
                            <div *ngIf="reasonReject.errors?.required"
                                [innerHTML]="'Commons.Error.ErrRequired' | translate"></div>
                        </div>
                    </div>
                    <div *ngIf="adminOrderModel.status == 5" class="col-md-6">
                        <textarea name="reasonCancel" id="reasonCancel" class="form-control" cols="40" rows="5"
                            maxlength="500" placeholder="{{'Commons.Texts.EnterReason' | translate}}"
                            [(ngModel)]="adminOrderModel.reasonCancel" #reasonCancel="ngModel" required></textarea>
                        <div *ngIf="reasonCancel.invalid && (reasonCancel.dirty || reasonCancel.touched || f.submitted)"
                            class="error">
                            <div *ngIf="reasonCancel.errors?.required"
                                [innerHTML]="'Commons.Error.ErrRequired' | translate"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dialog-footer">
                <button type="submit" class="btn btn-default btn-primary" [disabled]="isProgressing"
                    [innerHTML]="'Admin.Orders.UpdateOrder' | translate"></button>
            </div>
        </form>
    </div>
    <div class="overlay is-open" (click)="onClose(false)"></div>
</div>