<div [ngClass]="{'checkout_order': isInOrder}">
    <div class="checkout">
        <!--category-tab-->
        <div class="item_cart">
            <h3 [innerHTML]="'Commons.Texts.ShoppingBag' | translate"></h3>
        </div>
        <div class="cart-inner"
            *ngIf="selectedMenuItems && selectedMenuItems.orderItemsRequest && selectedMenuItems.orderItemsRequest.length > 0">
            <form>
                <div id="srcoll_menu" slimScroll width="auto" height="320px">
                    <ul class="list_item_manager">
                        <li *ngFor="let item of selectedMenuItems.orderItemsRequest; let i = index">
                            <div class="img_ads">
                                <div class="box_img">
                                    <a class="active">
                                        <img src="{{!item.urlImge ? 'assets/images/logo.png' : clientState.BaseUrl + item.urlImge}}"
                                            alt="{{item.restaurantName}}" />
                                    </a>
                                </div>
                            </div>
                            <div class="info_ads">
                                <a>{{item.menuItemName}}</a>
                                <div class="quantity">
                                    <div class="quantity-container">
                                        <input name="qty{{i}}" class="qty" maxlength="4"
                                            (change)="onChangeItemQuantity(item)" [(ngModel)]="item.quantity"
                                            type="text"
                                            onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" />
                                        <div class="button-container">
                                            <button class="cart-qty-minus" type="button"
                                                (click)="decreaseItem(item, i)">-</button>
                                            <button class="cart-qty-plus" type="button"
                                                (click)="increaseItem(item, i)">+</button>
                                        </div>
                                    </div>
                                    <a class="remove" (click)="onRemoveItem(item, i)"
                                        [innerHTML]="'Commons.Texts.Remove' | translate"></a>
                                </div>
                            </div>
                            <div class="price_checkout">
                                {{spainCurrency.symbol}} {{item.totalPrice.toLocaleString()}}
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="divider"></div>
                <dl class="order-prices">
                    <dt class="order-prices__label">
                        <span class="order-prices__label-text">Subtotal</span>
                    </dt>
                    <dd class="order-prices__value">{{spainCurrency.symbol}} {{totalSubItemsPrice.toLocaleString()}}
                    </dd>
                    <!-- <dt class="order-prices__label">
                        <span class="order-prices__label-text">VAT</span>
                    </dt>
                    <dd class="order-prices__value">{{spainCurrency.symbol}} {{totalItemsVATPrice}}</dd> -->
                    <dt class="order-prices__label">
                        <span class="order-prices__label-text"
                            [innerHTML]="'Commons.Texts.DeliveryCost' | translate"></span>
                    </dt>
                    <dd *ngIf="selectedMenuItems.deliveryCost && selectedMenuItems.deliveryCost > 0"
                        class="order-prices__value">{{spainCurrency.symbol}}
                        {{selectedMenuItems.deliveryCost.toLocaleString()}}</dd>
                    <dd *ngIf="!selectedMenuItems.deliveryCost || (selectedMenuItems.deliveryCost && selectedMenuItems.deliveryCost <= 0)"
                        class="order-prices__value">Free</dd>
                    <dt *ngIf="selectedMenuItems.discount && selectedMenuItems.discount > 0"
                        class="order-prices__label">
                        <span class="order-prices__label-text">Discount</span>
                    </dt>
                    <dd *ngIf="selectedMenuItems.discount && selectedMenuItems.discount > 0"
                        class="order-prices__value">{{selectedMenuItems.discount}} %</dd>

                </dl>
                <div class="divider"></div>
                <dl class="order-prices">
                    <dt class="order-prices__label">
                        <span class="order-prices__label-text">Total</span>
                    </dt>
                    <dd class="order-prices__value font_large">{{spainCurrency.symbol}}
                        {{totalItemsPrice.toLocaleString()}}</dd>
                </dl>

                <dl class="order-min-price" *ngIf="this.totalSubItemsPrice < this.restaurantModel.minPrice">
                    <dt class="order-min-price__label">
                        <span [innerHTML]="'Commons.Texts.NeedCreateOrder' | translate"></span>
                    </dt>
                    <dd class="order-min-price__value">
                        <span>{{spainCurrency.symbol}}
                            {{restaurantModel.minPrice - totalSubItemsPrice}}</span>
                    </dd>
                </dl>

                <p *ngIf="!isInOrder" class="btn_checkout">
                    <a *ngIf="this.totalSubItemsPrice > 0"
                        [ngClass]="{'btn-disabled': this.totalSubItemsPrice < this.restaurantModel.minPrice || this.restaurantModel.restaurantClosed==true}"
                        class="btn btn_black pull-right" (click)="onCheckOut()"
                        [innerHTML]="'Commons.Texts.Checkout' | translate"></a>
                </p>
                <p class="restaurant-closed" *ngIf="this.restaurantModel.restaurantClosed"
                    [innerHTML]="'Components.Order.RestaurantClosed' | translate"></p>
            </form>
        </div>
        <div class="shop-bag-empty"
            *ngIf="selectedMenuItems && selectedMenuItems.orderItemsRequest && selectedMenuItems.orderItemsRequest.length <= 0">
            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
            <p [innerHTML]="'Commons.Error.ShopBagEmpty' | translate"></p>
        </div>
    </div>
</div>