@import "~styles/variables.scss";

.admin-main-content {
    .box-primary {
        .box-body {
            .preview-img {
                img {
                    border: 1px solid #ccc;
                    margin-top: 5px;
                    border-radius: 4px;
                    padding: 3px;
                }
            }
        }
    }
}

.weekDays-selector input {
    display: none !important;
}

.weekDays-selector input[type=checkbox]+label {
    display: inline-block;
    border-radius: 6px;
    background: #eceaea;
    height: 34px;
    width: 23%;
    margin-right: 7px;
    line-height: 34px;
    text-align: center;
    cursor: pointer;
}

.weekDays-selector input[type=checkbox]:checked+label {
    background: #ff8800;
    color: #ffffff;
}