agm-map {
    height: 300px;
  }
.agm-map-container-inner {
  width: inherit;
  height: inherit;
}
.addressMapInfo{
    span{
        color: #000;
        font-size: 13px;
    }
}
img {
  width: 24px;
  height: 24px;
}