<div class="restaurant-info">
    <div class="map-container">
        <div class='agm-map-container-inner sebm-google-map-container-inner'>
            <agm-map [latitude]="restaurantModel.latitude" [longitude]="restaurantModel.longitude" [zoom]=17
                [maxZoom]=17 [minZoom]=17 [zoomControl]="false" [streetViewControl]="false" [mapDraggable]="false">
                <agm-marker [iconUrl]="icon" [latitude]="restaurantModel.latitude"
                    [longitude]="restaurantModel.longitude"></agm-marker>
            </agm-map>
        </div>
        <div class="map-info">
            <p class="address-label" [innerHTML]="'Commons.Texts.Address' | translate"></p>
            <p class="address">{{restaurantModel.address}}</p>
            <p *ngIf="this.restaurantModel.restaurantClosed" class="restaurant-close"
                [innerHTML]="'Commons.Texts.Close' | translate"></p>
            <p *ngIf="!this.restaurantModel.restaurantClosed" class="restaurant-open"
                [innerHTML]="'Commons.Texts.Open' | translate"></p>
        </div>
    </div>

    <div class="delivery-times">
        <p class="restaurant-info-title">
            <img src="assets/icons/ic_time_open.png" alt="delivery_times">
            <span class="title" [innerHTML]="'Commons.Texts.WorkingTime' | translate"></span>
        </p>
        <div class="info-tab-section">
            <table *ngIf="deliveryTimes.length > 0">
                <tr *ngFor="let item of deliveryTimes">
                    <td *ngIf="item.list.length > 0 && item.list[0].openTime !== ''">
                        <span>{{"Commons.Texts." + item.weekDay | translate }}</span>
                    </td>
                    <td class="text-right" *ngIf="item.list.length > 0 && item.list[0].openTime !== ''">
                        <ng-container *ngFor="let time of item.list">
                            <span>{{time.openTime}} - {{time.closeTime}}</span> <br>
                        </ng-container>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="delivery-costs">
        <p class="restaurant-info-title">
            <img src="assets/icons/ic_delivery_times.svg" alt="delivery_costs">
            <span class="title" [innerHTML]="'Commons.Texts.Delivery' | translate"></span>
        </p>
        <div class="info-tab-section">
            <table>
                <tr>
                    <td class="text-left" [innerHTML]="'Commons.Texts.MinimumOrderAmount' | translate"></td>
                    <td class="text-right">
                        {{restaurantModel.minPrice}} C$
                    </td>
                </tr>
                <tr>
                    <td class="text-left" [innerHTML]="'Commons.Texts.DeliveryTimes' | translate"></td>
                    <td class="text-right">
                        {{restaurantModel.estTime}} {{ "Commons.Texts.Minutes" | translate }}
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="delivery-costs"
        *ngIf="restaurantModel.restaurantDeliveryCost && restaurantModel.restaurantDeliveryCost.length > 0">
        <p class="restaurant-info-title">
            <img src="assets/icons/ic_delivery_costs.png" alt="delivery_costs">
            <span class="title" [innerHTML]="'Commons.Texts.DeliveryCost' | translate"></span>
        </p>
        <div class="info-tab-section">
            <table>
                <!-- <tr>
                    <td class="text-left" [innerHTML]="'Commons.Texts.DeliveryCostDefault' | translate"></td>
                    <td class="text-right">
                        <span *ngIf="restaurantModel.deliveryCost==0"
                            [innerHTML]="'Commons.Texts.FreeShip' | translate"></span>
                        <span *ngIf="restaurantModel.deliveryCost>0">{{restaurantModel.deliveryCost}} C$</span>
                    </td>
                </tr> -->
                <tr *ngFor="let deliveryCostItem of restaurantModel.restaurantDeliveryCost">
                    <td class="text-left">{{deliveryCostItem.district.name}}</td>
                    <td class="text-right">
                        <span *ngIf="deliveryCostItem.deliveryCost == 0"
                            [innerHTML]="'Commons.Texts.FreeShip' | translate"></span>
                        <span *ngIf="deliveryCostItem.deliveryCost > 0">{{deliveryCostItem.deliveryCost}} C$</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="payment-methods"
        *ngIf="restaurantModel.paymentProviderLst && restaurantModel.paymentProviderLst.length > 0">
        <p class="restaurant-info-title">
            <img src="assets/icons/ic_payment_methods.png" alt="payment_methods">
            <span class="title" [innerHTML]="'Commons.Texts.PaymentMethods' | translate"></span>
        </p>

        <div class="info-tab-section">
            <div class="info-pay-methods" *ngFor="let item of restaurantModel.paymentProviderLst">
                <img *ngIf="item.paymentProviderId == 1" src="assets/icons/ic_cash_payment.png" alt="cash_payment">
                <img *ngIf="item.paymentProviderId == 4" src="assets/icons/ic_credit_card.png" alt="credit_card">
            </div>
        </div>
    </div>
</div>