<div class="admin-main-content form-detail">
    <div class="row">
        <div class="col-xs-12">
            <div class="form-header">
                <h2 class="title" [innerHTML]="'Admin.Rating.CreateRating' | translate"></h2>
            </div>

            <div *ngIf="!!message" class="form-message">
                <h2 class="message {{isError ? 'error' : ''}}">
                    {{message}}
                </h2>
                <a [routerLink]="['..']" routerLinkActive="active" class="landing">
                    <span class="btn btn-default btn-primary" [innerHTML]="'Commons.Texts.BackToList' | translate"></span>
                </a>
            </div>

            <div class="form-content">
                <div class="box box-primary">
                    <form (ngSubmit)="onSubmit(f.valid)" #f="ngForm">
                        <div class="box-body">
                            <div class="row form-group">
                                <label class="col-md-2" [innerHTML]="'Commons.Texts.UsernameRequired' | translate"></label>
                                <div class="col-md-6">
                                    <select name="userName" class="form-control" [(ngModel)]="ratingAdminModel.userId" #userName="ngModel" required>
                                        <option [ngValue]="null" disabled [innerHTML]="'Commons.Texts.SelectUser' | translate"></option>
                                        <option *ngFor="let item of userAdminModels; let i = index;" value="{{item.userId}}">{{item.aliasName}}</option>
                                    </select>
                                    <div *ngIf="userName.invalid && (userName.dirty || userName.touched || f.submitted)" class="error">
                                        <div *ngIf="userName.errors?.required" [innerHTML]="'Commons.Error.ErrRequired' | translate"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <label class="col-md-2" [innerHTML]="'Commons.Texts.RestaurantRequired' | translate"></label>
                                <div class="col-md-6">
                                    <select name="restaurantName" class="form-control" [(ngModel)]="ratingAdminModel.restaurantId" #restaurantName="ngModel"
                                        required>
                                        <option [ngValue]="null" disabled [innerHTML]="'Commons.Texts.SelectRestaurant' | translate"></option>
                                        <option *ngFor="let item of restaurantAdminModels; let i = index;" value="{{item.restaurantId}}">{{item.restaurantName}}</option>
                                    </select>
                                    <div *ngIf="restaurantName.invalid && (restaurantName.dirty || restaurantName.touched || f.submitted)" class="error">
                                        <div *ngIf="restaurantName.errors?.required" [innerHTML]="'Commons.Error.ErrRequired' | translate"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <label class="col-md-2" [innerHTML]="'Commons.Texts.CommentRequired' | translate"></label>
                                <div class="col-md-6">
                                    <textarea class="form-control" rows="5" name="comment" [(ngModel)]="ratingAdminModel.comment" #comment="ngModel" required></textarea>
                                    <div *ngIf="comment.invalid && (comment.dirty || comment.touched || f.submitted)" class="error">
                                        <div *ngIf="comment.errors?.required" [innerHTML]="'Commons.Error.ErrRequired' | translate"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <label class="col-md-2" [innerHTML]="'Commons.Texts.StarQualityRequired' | translate"></label>
                                <div class="col-md-6">
                                    <input type="number" min="1" max="5" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                                        class="form-control" name="quality" [(ngModel)]="ratingAdminModel.quality" #quality="ngModel"
                                        required/>
                                    <div *ngIf="quality.invalid && (quality.dirty || quality.touched || f.submitted)" class="error">
                                        <div *ngIf="quality.errors?.required" [innerHTML]="'Commons.Error.ErrRequired' | translate"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <label class="col-md-2" [innerHTML]="'Commons.Texts.StarDeliveryRequired' | translate"></label>
                                <div class="col-md-6">
                                    <input type="number" min="1" max="5" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                                        class="form-control" name="delivery" [(ngModel)]="ratingAdminModel.delivery" #delivery="ngModel"
                                        required/>
                                    <div *ngIf="delivery.invalid && (delivery.dirty || delivery.touched || f.submitted)" class="error">
                                        <div *ngIf="delivery.errors?.required" [innerHTML]="'Commons.Error.ErrRequired' | translate"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <label class="col-md-2" [innerHTML]="'Commons.Texts.Status' | translate"></label>
                                <div class="col-md-6">
                                    <select name="status" class="form-control" [(ngModel)]="ratingAdminModel.status" #status="ngModel" required>
                                        <option value="1" [innerHTML]="'Commons.Texts.Publish' | translate"></option>
                                        <option value="0" [innerHTML]="'Commons.Texts.UnPublish' | translate"></option>
                                    </select>
                                    <div *ngIf="status.invalid && (status.dirty || status.touched || f.submitted)" class="error">
                                        <div *ngIf="status.errors?.required" [innerHTML]="'Commons.Error.ErrRequired' | translate"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-default btn-primary" [innerHTML]="'Commons.Buttons.Save' | translate"></button>
                            <a [routerLink]="['..']" routerLinkActive="active" class="btn btn-default btn-danger" [innerHTML]="'Commons.Buttons.Cancel' | translate"></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>