<div id="sticker">
    <div class="menu_categories">
        <div id="bs-collapse" class="item">
            <div class="panel category-list">
                <div class="panel-heading title_child">
                    <h4 class="panel-title panel-title-main">
                        <a (click)="onShowOrHideMenuItem()">
                            Menu
                            <i *ngIf="showMenuItem" class="fa fa-chevron-down"></i>
                            <i *ngIf="!showMenuItem" class="fa fa-chevron-up"></i>
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse">
                    <ul *ngIf="showMenuItem" class="item_search">
                        <li *ngFor="let item of menu">
                            <a (click)="onSelectMenu(item.menuId)" data-scroll-nav="0">{{item.menuName}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>