<div class="owner-main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 header">
                <h2 class="title" [innerHTML]="'Commons.Texts.Comment' | translate"></h2>
                <h4 class="subtitle">
                    <p [innerHTML]="'Owner.Ratings.RatingSubTitle1' | translate"></p>
                    <p [innerHTML]="'Owner.Ratings.RatingSubTitle2' | translate"></p>
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title" [innerHTML]="'Commons.Texts.LatestComments' | translate"></h3>
                    </div>
                    <div class="box-body">
                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered">
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th>
                                        <input type="text" class="form-control input-sm" />
                                    </th>
                                    <th>
                                        <input type="text" class="form-control input-sm" />
                                    </th>
                                    <th>
                                        <input type="text" class="form-control input-sm" />
                                    </th>
                                    <th></th>
                                    <th></th>
                                    <th>
                                        <input type="text" class="form-control input-sm" />
                                    </th>
                                </tr>
                            </tfoot>
                            <thead>
                                <tr>
                                    <th class="text-center">No.</th>
                                    <th [innerHTML]="'Commons.Texts.Description' | translate"></th>
                                    <th [innerHTML]="'Commons.Texts.RestaurantName' | translate"></th>
                                    <th [innerHTML]="'Commons.Texts.Username' | translate"></th>
                                    <th [innerHTML]="'Commons.Texts.Quality' | translate"></th>
                                    <th [innerHTML]="'Commons.Texts.StarShip' | translate"></th>
                                    <th [innerHTML]="'Commons.Texts.Status' | translate"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of restaurantCommentOwnerModels; let i = index;">
                                    <td class="text-center">{{i + 1}}</td>
                                    <td>{{item && item.description}}</td>
                                    <td>
                                        <!-- <a routerLink="./{{item && item.resCommentId}}" routerLinkActive="active">
                                            
                                        </a> -->
                                        <span>{{item && item.restaurantName}}</span>
                                    </td>
                                    <td>
                                        <span>{{item && item.userName}}</span>
                                    </td>
                                    <td>
                                        <p-rating [ngModel]="item && item.starQuality" readonly="true" stars="5" [cancel]="false"></p-rating>
                                    </td>
                                    <td>
                                        <p-rating [ngModel]="item && item.starShip" readonly="true" stars="5" [cancel]="false"></p-rating>
                                    </td>
                                    <td>
                                        <span>{{restaurantCommentStatus[item && item.status]}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- <p *ngIf="paginModel && paginModel.totalCount == 0" [innerHTML]="'Commons.Texts.NoRecordFound' | translate"></p> -->
                    </div>
                    <div class="box-footer">
                        <!-- <pagination *ngIf="paginModel && paginModel.totalCount > 0" [disabled]="clientState.isBusy" [boundaryLinks]="true" [directionLinks]="true"
                            [totalItems]="paginModel.totalCount" [itemsPerPage]="currentPageSize" [rotate]="false" (pageChanged)="onPageChanged($event)"
                            [currentPageIndex]="paginModel.pageNumber">
                        </pagination> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>