<div class="owner-main-content form-detail">
    <div class="row">
        <div class="col-xs-12">
            <div class="form-header">
                <h2 class="title" [innerHTML]="'Commons.Texts.CreateMenu' | translate"></h2>
            </div>
            <div *ngIf="!!message" class="form-message">
                <h2 class="message {{isError ? 'error' : ''}}">
                    {{message}}
                </h2>
                <a [routerLink]="['..']" routerLinkActive="active" class="landing">
                    <span class="btn btn-default btn-primary" [innerHTML]="'Commons.Texts.BackToList' | translate"></span>
                </a>
            </div>
            <div class="form-content">
                <div class="box box-primary" style="border-top-color: #ff7d26;">
                    <form (ngSubmit)="onSubmit(f.valid)" #f="ngForm">
                        <div class="box-body">
                            <div class="row form-group">
                                <label class="col-md-2" [innerHTML]="'Commons.Texts.RestaurantRequired' | translate"></label>
                                <div class="col-md-6">
                                    <select name="restaurantName" class="form-control" [(ngModel)]="menuOwnerModel.restaurantId" #restaurantName="ngModel" required>
                                        <option [ngValue]="null" disabled [innerHTML]="'Commons.Texts.SelectRestaurant' | translate"></option>
                                        <option *ngFor="let item of restaurantOwnerModel" value="{{item.restaurantId}}">{{item.restaurantName}}</option>
                                    </select>
                                    <div *ngIf="restaurantName.invalid && (restaurantName.dirty || restaurantName.touched || f.submitted)" class="error">
                                        <div *ngIf="restaurantName.errors?.required" [innerHTML]="'Commons.Error.ErrRequired' | translate"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <label class="col-md-2" [innerHTML]="'Commons.Texts.MenuNameRequired' | translate"></label>
                                <div class="col-md-6">
                                    <p-tabView>
                                        <p-tabPanel *ngFor="let lang of menuOwnerModel.languageLst; let i = index;" [selected]="i==0" header="{{lang.name}}">
                                            <div class="form-group col-xs-12 col-sm-6" *ngFor="let feild of lang.contentDef; let k = index;">
                                                <input type="text" class="form-control" #menuName="ngModel" id="{{feild.code}}{{i}}{{k}}" name="{{feild.code}}{{i}}{{k}}"
                                                    [(ngModel)]="feild.value" required noSpaces>
                                                <div *ngIf="menuName.invalid && (menuName.dirty || menuName.touched || f.submitted)" class="error">
                                                    <div *ngIf="menuName.errors?.whitespace" [innerHTML]="'Commons.Error.ErrWhiteSpace' | translate"></div>
                                                    <div *ngIf="menuName.errors?.required" [innerHTML]="'Commons.Error.ErrRequired' | translate"></div>
                                                </div>
                                            </div>
                                        </p-tabPanel>
                                    </p-tabView>
                                </div>
                            </div>

                            <div class="row form-group">
                                <label class="col-md-2" [innerHTML]="'Commons.Texts.Status' | translate"></label>
                                <div class="col-md-6">
                                    <select name="status" class="form-control" [(ngModel)]="menuOwnerModel.status" #status="ngModel" required>
                                        <option value="1" [innerHTML]="'Commons.Texts.Publish' | translate"></option>
                                        <option value="0" [innerHTML]="'Commons.Texts.UnPublish' | translate"></option>
                                    </select>
                                    <div *ngIf="status.invalid && (status.dirty || status.touched || f.submitted)" class="error">
                                        <div *ngIf="status.errors?.required" [innerHTML]="'Commons.Error.ErrRequired' | translate"></div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-default btn-primary" style="background: #ff7d26;" [innerHTML]="'Commons.Buttons.Save' | translate"></button>
                            <a [routerLink]="['..']" routerLinkActive="active" class="btn btn-default btn-danger" [innerHTML]="'Commons.Buttons.Cancel' | translate"></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>