<div class="owner-main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 header">
                <h4 class="title" [innerHTML]="'Commons.Texts.Invoices' | translate"></h4>
                <h5 class="subtitle" [innerHTML]="'Owner.Invoices.InvoicesTitle' | translate"></h5>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-warning">
                    <div class="box-header">
                        <h3 class="box-title" [innerHTML]="'Owner.Invoices.ManageYourInvoices' | translate"></h3>
                    </div>
                    <div class="box-body">
                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered">
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th>
                                        <input type="text" class="form-control input-sm" />
                                    </th>
                                    <th>
                                        <input type="text" class="form-control input-sm" />
                                    </th>
                                    <th>
                                        <input type="text" class="form-control input-sm" />
                                    </th>
                                    <th>
                                        <input type="text" class="form-control input-sm" />
                                    </th>
                                    <th>
                                        <input type="text" class="form-control input-sm" />
                                    </th>
                                    <th>
                                        <input type="text" class="form-control input-sm" />
                                    </th>
                                    <!-- <th>
                                        <input type="text" class="form-control input-sm" />
                                    </th> -->
                                </tr>
                            </tfoot>
                            <thead>
                                <tr>
                                    <th class="text-center">No.</th>
                                    <th [innerHTML]="'Commons.Texts.Date' | translate"></th>
                                    <th [innerHTML]="'Commons.Texts.From' | translate"></th>
                                    <th [innerHTML]="'Commons.Texts.Through' | translate"></th>
                                    <th [innerHTML]="'Commons.Texts.Amount' | translate"></th>
                                    <th [innerHTML]="'Commons.Texts.Paid' | translate"></th>
                                    <th [innerHTML]="'Commons.Texts.PaidOn' | translate"></th>
                                    <!-- <th [innerHTML]="'Commons.Texts.Download' | translate"></th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of ownerOrderModels; let i = index;">
                                    <td class="text-center">{{i + ((paginModel.pageIndex - 1) * paginModel.pageSize) + 1}}</td>
                                    <td>
                                        <a (click)="onOrderDetail(item.orderId, item.orderCode)">
                                            <span>{{item && item.orderCode}}</span>
                                        </a>
                                    </td>
                                    <td>
                                        <span>{{item && item.orderDate | date: 'dd-MM-yyyy hh:mm:ss'}}</span>
                                    </td>
                                    <td>
                                        <span>{{item && item.orderDate | date: 'dd-MM-yyyy hh:mm:ss'}}</span>
                                    </td>
                                    <td>
                                        <span>{{item && item.totalPrice}}</span>
                                    </td>
                                    <td>
                                        <span>{{item && item.orderDate | date: 'dd-MM-yyyy hh:mm:ss'}}</span>
                                    </td>
                                    <td>
                                        <span>{{item && item.orderDate | date: 'dd-MM-yyyy hh:mm:ss'}}</span>
                                    </td>
                                    <!-- <td class="text-center">
                                        <a href="#">
                                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                        </a>
                                    </td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<owner-invoices-detail *ngIf="selectedOrderId && selectedOrderCode && isDetail" [visible]="isDetail" (onSuccess)="onSuccess($event)" [orderId]="selectedOrderId" [orderCode]="selectedOrderCode"></owner-invoices-detail>