<div class="owner-main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 header">
                <h4 class="title" [innerHTML]="'Commons.Texts.Invoices' | translate"></h4>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-warning">
                    <div class="box-body">
                        <form (ngSubmit)="onSubmit(f.valid)" #f="ngForm" class="mt-5">
                            <div class="row form-group" style="margin-bottom: 0px;">
                                <div class="col-xs-2"></div>
                                <div class="col-xs-2">
                                    <label for="restaurant"
                                        [innerHTML]="'Commons.Texts.Restaurant' | translate"></label>
                                    <ng-select name="restaurant" [items]="restaurantOwnerModels" [clearable]="false"
                                        bindValue="restaurantId" bindLabel="restaurantName" [(ngModel)]="restaurantId"
                                        #restaurant="ngModel" placeholder="Select restaurant" required>
                                    </ng-select>
                                </div>
                                <div class="col-xs-2">
                                    <label for="startDate" [innerHTML]="'Commons.Texts.FromDate' | translate"></label>
                                    <my-date-picker name="startDate" [options]="myDatePickerOptions"
                                        [(ngModel)]="startDate" (dateChanged)="onChangeFromDate($event)"></my-date-picker>
                                </div>
                                <div class="col-xs-2">
                                    <label for="endDate" [innerHTML]="'Commons.Texts.ToDate' | translate"></label>
                                    <my-date-picker name="endDate" [options]="myDatePickerOptions" [(ngModel)]="endDate"
                                        (dateChanged)="onChangeToDate($event)"></my-date-picker>
                                </div>
                                <div class="col-xs-2">
                                    <label style="visibility: hidden;">Export</label>
                                    <button type="submit" class="btn btn-primary"
                                        [innerHTML]="'Commons.Buttons.Export' | translate"></button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2"></div>
                                <div class="col-xs-2">
                                    <div *ngIf="restaurant.invalid && (restaurant.dirty || restaurant.touched || f.submitted)"
                                        class="error">
                                        <div *ngIf="restaurant.errors?.required"
                                            [innerHTML]="'Commons.Error.ErrRequired' | translate"></div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div *ngIf="isErrorDate" class="error">
                                        <div [innerHTML]="'Commons.Error.ErrorStartDate' | translate"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>